{{ header }}{{ column_left }} 
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
      </div>
      <h1>{{ heading_title }}</h1>
	  <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %} 
        <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
        {% endfor %} 
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if (error_warning) %} 
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }} 
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %} 
    {% if (success) %} 
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }} 
      <button type="button" form="form-installtheme" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %} 
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-exchange"></i> {{ heading_title }}</h3>
      </div>
      <div class="panel-body">
	  <button type="submit" form="form-install" data-toggle="tooltip" title="{{ entry_install }}" class="btn btn-default"><i class="fa fa-download"></i>{{ button_install }}</button>
	  <button type="submit" form="form-restore" data-toggle="tooltip" title="{{ entry_restore }}" class="btn btn-default"><i class="fa fa-refresh"></i>{{ button_restore }}</button>
	  <div style="font-size: 17px;margin-top: 20px;">{{ text_explanations_install }}</div>
	  <div style="font-size: 17px;margin-top: 20px;">{{ text_explanations_restore }}</div>
	  <div style="font-size: 17px;margin-top: 20px;color: red;">{{ text_warnings }}</div>
        <form action="{{ install }}" method="post" enctype="multipart/form-data" id="form-install" class="form-horizontal">
        </form>
		<form action="{{ restore }}" method="post" enctype="multipart/form-data" id="form-restore" class="form-horizontal">
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }} 
