<div id="quickview">
<div class="quickw">
   <div class="quickwgroup">
      <button title="close" type="button" class="mfp-close">&#215;</button>
      <div class="name-popup qv">{{ heading_title }}</div>
   </div>
   <div class="quickw2">
      <div class="row">
         <div class="col-lg-12">
            <div id="nav_pr">
               <ul class="nav nav-tabs">
                  <li class="active"><a href="#tab-product" data-toggle="tab">{{ tab_products }}</a></li>
                  {% if (description|striptags) %}
                  {% if (not aridius_qckview_tab_description) %}
                  <li><a href="#tab-description" data-toggle="tab">{{ tab_description }}</a></li>
                  {% endif %}
                  {% endif %}
                  {% if (attribute_groups and not aridius_qckview_tab_character) %}
                  <li><a href="#tab-specification" data-toggle="tab">{{ tab_attribute }}</a></li>
                  {% endif %}
                  {% if (review_status and not aridius_qckview_tab_reviews) %}
                  <li><a href="#tab-review" data-toggle="tab">{{ tab_review }}</a></li>
                  {% endif %}
                  {% if (custom_tabs and not aridius_qckview_tab_additional) %}
                  {% for key,custom_tab in custom_tabs %}
                  {% if (custom_tab['title']) %}
                  <li><a href="#tab-custom-{{ key }}" data-toggle="tab">{{ custom_tab['title'] }}</a></li>
                  {% endif %}
                  {% endfor %}
                  {% endif %}
                  <!-- theme_tabs -->
                  {% if (theme_tabs and not aridius_qckview_tab_additional) %}
                  {% for key, theme_tab  in theme_tabs %}
                  {% if (theme_tab.title[language_id]) %}
                  <li>
                     <a href="#tab-add-{{ key }}" data-toggle="tab">
                     {{ theme_tab.title[language_id] }}
                     </a>
                  </li>
                  {% endif %}
                  {% endfor %}
                  {% endif %}
                  <!-- theme_tabs -->
               </ul>
            </div>
            <div class="tab-content">
               <div class="tab-pane active" id="tab-product">
                  <div class="col-md-6 col-lg-6 stp">
                     {% if (thumb or images) %}
                     <div class="gallary-wrapper">
                        {% if (options or images) %}
                        {% endif %}
                        <div class="thumbnails demo-galleryqv swiper-container">
                           <div class="positionsticker">
                              <!-- special -->
                              {% if (deluxe_sticker_sale_product_auto != 1 and special and deluxe_show_stsale == 0) %}
                              <div class="stickers-special"><span class="diamont_st">-{{ saving_product }}%</span></div>
                              {% endif %}
                              <!-- special END -->
                              <!-- new -->
                              {% set startDate1 = (product['dateadded']|slice(0, 10))|date('U') %}
                              {% set endDate2 = ("now"|date("Y/m/d"))|date('U') %}
                              {% set days = ((endDate2 / 86400)|round) - ((startDate1 / 86400)|round) %}
                              {% if (deluxe_sticker_new_product_auto != 1 and days < deluxe_sticker_product_new_day) %}
                              <div class="stickers-new"><span class="diamont_st">{{ deluxe_name_sticker_product_new[language_id] }}</span></div>
                              {% endif %}
                              <!-- new END -->
                              <!-- top -->
                              {% if (deluxe_sticker_top_product_auto != 1 and deluxe_sticker_product_top_ratinr == 1 and rating == deluxe_sticker_product_top_rating or deluxe_sticker_top_product_auto != 1 and deluxe_sticker_product_top_ratinr == 2 and viewed > deluxe_sticker_product_top_viewed) %}
                              <div class="stickers-top"><span class="diamont_st">{{ deluxe_name_sticker_product_top[language_id] }}</span></div>
                              {% endif %}
                              <!-- top END -->
                              {% if (stickers2) %}
                              {% for sticker2 in stickers2 %}
                              <div class="stickers-all" style="color:{{ sticker2['color'] }};background:{{ sticker2['background'] }};">{{ sticker2['name'] }}</div>
                              {% endfor %}
                              {% endif %}
                           </div>
                           <ul class="swiper-wrapper">
                              {% if (thumb) %}
                              <li class="swiper-slide"><span class="thumbnail imglink gallery_img_main">
                                 <img id="main-imageqv" class="main-imageqv" itemprop="image" src="{{ thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" data-zoom-image="{{ popup }}" width="{{ deluxe_image_thumb_width }}" height="{{ deluxe_image_thumb_height }}" /></span>
                              </li>
                              {% endif %}
                              {% if (images) %}
                              {% for image in images %}
                              <li class="swiper-slide">
                                 <span class="thumbnail imglink gallery_img_main">
                                 <img class="main-imageqv" src="{{ image['thumb2'] }}" title="{{ heading_title }}" alt="{{ heading_title }}" data-zoom-image="{{ image['popup'] }}" />
                                 </span>
                              </li>
                              {% endfor %}
                              {% endif %}
                              {% if (options and deluxe_options_mainimg == 0) %}
                              {% for option in options %}
                              {% for option_value in option['product_option_value'] %}
                              {% if (option_value['image_opt_additional'] or option_value['image']) %}
                              <li class="swiper-slide">
                                 {% if (option_value['image_opt']) %}
                                 <span class="thumbnail imglink gallery_img_main">
                                 <img class="main-imageqv" src="{{ option_value['image_opt'] }}" title="{{ heading_title }}" alt="{{ heading_title }}" data-zoom-image="{{ option_value['image_opt_popup'] }}" />
                                 </span>
                                 {% else %}
                                 <span class="thumbnail imglink gallery_img_main">
                                 <img class="main-imageqv" src="{{ option_value['opt_thumb'] }}" title="{{ heading_title }}" alt="{{ heading_title }}" data-zoom-image="{{ option_value['popup'] }}" />
                                 </span>
                                 {% endif %}
                              </li>
                              {% endif %}
                              {% endfor %}
                              {% endfor %}
                              {% endif %}
                           </ul>
                           <div class="main_img swiper-pagination"></div>
                           <div id="additional" class="additional_v swiper-container">
                              <div class="swiper-wrapper">
                                 {% if (thumb and images or options) %}
                                 <div class="image-additional swiper-slide">
                                    <img src="{{ thumb_add }}" title="{{ heading_title }}" alt="{{ heading_title }}" width="{{ deluxe_image_additional_width }}" height="{{ deluxe_image_additional_height }}" >
                                 </div>
                                 {% endif %}
                                 {% if (images) %}
                                 {% for image in images %}
                                 <div class="image-additional swiper-slide">
                                    <img src="{{ image['thumb'] }}" title="{{ heading_title }}" alt="{{ heading_title }}" width="{{ deluxe_image_additional_width }}" height="{{ deluxe_image_additional_height }}" />
                                 </div>
                                 {% endfor %}
                                 {% endif %}
                                 {% if (options and deluxe_options_mainimg == 0) %}
                                 {% for option in options %}
                                 {% for option_value in option['product_option_value'] %}
                                 {% if (option_value['image_opt_additional'] or option_value['image']) %}
                                 <div class="image-additional swiper-slide">
                                    {% if (option_value['image_opt_additional']) %}
                                    <img src="{{ option_value['image_opt_additional'] }}" title="{{ heading_title }}" alt="{{ heading_title }}" width="{{ deluxe_image_additional_width }}" height="{{ deluxe_image_additional_height }}" />
                                    {% else %}
                                    <img src="{{ option_value['opt_additional'] }}" title="{{ heading_title }}" alt="{{ heading_title }}" width="{{ deluxe_image_additional_width }}" height="{{ deluxe_image_additional_height }}" />
                                    {% endif %}
                                 </div>
                                 {% endif %}
                                 {% endfor %}
                                 {% endfor %}
                                 {% endif %}
                              </div>
                              {% if (deluxe_imageadd_nav == 0) %}
                              <div class="add_img_v2 swiper-button-next"><i class="fa fa-chevron-right fa-5x"></i></div>
                              <div class="add_img_v2 swiper-button-prev"><i class="fa fa-chevron-left fa-5x"></i></div>
                              {% endif %}
                           </div>
                        </div>
                     </div>
                     {% endif %}
                  </div>
                  <div class="col-md-6 col-lg-6">
                     {% if (review_status and deluxe_rating_pr != 1) %}
                     <div class="linetoppr">
                        <div class="rating">
                           <p>
                              {% set i = 1 %}{% for i in i..5 %}
                              {% if (rating < i) %}
                              <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                              {% else %}
                              <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                              {% endif %}
                              {% endfor %}
                              <a class="review_profile" style="padding-bottom: 4px;" href="" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">&nbsp;&nbsp;{{ reviews }}</a>
                           </p>
                        </div>
                     </div>
                     {% endif %}
                     <ul class="list-unstyled taxp2">
                        {% if (deluxe_product_stock != 1 ) %}
                        <li class="pr_rew">{{ quantity > 0 ? '<i class="fa fa-check-square-o" aria-hidden="true"></i><span class = "rewardin">'~ stock ~'</span>' : '<span class = "rewardoff">'~ stock ~'</span>' }}</li>
                        {% endif %}
                        {% if (manufacturer) %}
                        {% if (deluxe_product_man_img != 1) %}
                        <li><a href="{{ manufacturers }}">
                           {% if ( manufacturer_img is defined ) %}
                           <img  class="pull-right hidden-xs hidden-sm" src="{{ manufacturer_img }}" alt="{{ manufacturer }}" title="{{ manufacturer }}">
                           {% endif %}
                           </a>
                        </li>
                        {% endif %}
                        {% if (deluxe_man != 1 ) %}
                        <li><span>{{ text_manufacturer }}</span>&nbsp;&nbsp;<a itemprop="manufacturer" href="{{ manufacturers }}">{{ manufacturer }}</a></li>
                        <li>
                           <meta itemprop="brand" content="{{ manufacturer }}">
                        </li>
                        {% endif %}
                        {% endif %}
                        {% if (sku) %}
                        <li>
                           <meta itemprop="sku" content="{{ sku }}">
                        </li>
                        {% else %}
                        <li>
                           <meta itemprop="sku" content="{{ model }}">
                        </li>
                        {% endif %}
                        {% if (mpn) %}
                        <li>
                           <meta itemprop="mpn" content="{{ mpn }}">
                        </li>
                        {% endif %}
                        {% if (deluxe_product_kod_tovara != 1) %}
                        <li><span>{{ text_model }}</span>&nbsp;&nbsp;<span itemprop="model">{{ model }}</span></li>
                        {% endif %}
                        {% if (reward) %}
                        <li><span>{{ text_reward }}</span>&nbsp;&nbsp;{{ reward }}</li>
                        {% endif %}
                        {% if (length and width and height and deluxe_product_size != 1 ) %}
                        <li>{% if (length > 0) %}{{ text_lengthp }} {{ length }} {% if ((length > 0 and width > 0) or (length > 0 and height > 0)) %}x{% endif %} {% endif %}{% if (width > 0) %}{{ text_widthp }} {{ width }} {% if (width > 0 and height > 0) %}x{% endif %} {% endif %}{% if (height > 0) %}{{ text_heightp }} {{ height }}{% endif %}</li>
                        {% endif %}
                        {% if (weight > 0 and deluxe_product_weight != 1 ) %}
                        <li>{{ text_weightp }} {{ weight }}</li>
                        {% endif %}
                        {% if (deluxe_product_show_sku != 1) %}
                        <li>{% if (sku) %} {{ deluxe_product_sku[language_id] }} {% endif %} {{ sku }}</li>
                        {% endif %}
                        {% if (deluxe_product_show_upc != 1) %}
                        <li>{% if (upc) %} {{ deluxe_product_upc[language_id] }} {% endif %} {{ upc }}</li>
                        {% endif %}
                        {% if (deluxe_product_show_ean != 1) %}
                        <li>{% if (ean) %} {{ deluxe_product_ean[language_id] }} {% endif %} {{ ean }}</li>
                        {% endif %}
                        {% if (deluxe_product_show_jan != 1) %}
                        <li>{% if (jan) %} {{ deluxe_product_jan[language_id] }} {% endif %} {{ jan }}</li>
                        {% endif %}
                        {% if (deluxe_product_show_isbn != 1) %}
                        <li>{% if (isbn) %} {{ deluxe_product_isbn[language_id] }} {% endif %} {{ isbn }}</li>
                        {% endif %}
                        {% if (deluxe_product_show_mpn != 1) %}
                        <li>{% if (mpn) %} {{ deluxe_product_mpn[language_id] }} {% endif %} {{ mpn }}</li>
                        {% endif %}
                     </ul>
                     <div id="product_quickw">
                        {% if (options) %}
                        {% for option in options %}
                        {% if (option['type'] == 'select') %}
                        <div class="form-group{{ option['required'] ? ' required' : '' }}">
                           <label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}</label>
                           <select name="option[{{ option['product_option_id'] }}]" id="input-option{{ option['product_option_id'] }}" class="form-control">
                              <option value="">{{ text_select }}</option>
                              {% for option_value in option['product_option_value'] %}
                              <option value="{{ option_value['product_option_value_id'] }}">{{ option_value['name'] }}
                                 {% if (option_value['price']) %}
                                 ({{ option_value['price_prefix'] }}{{ option_value['price'] }})
                                 {% endif %}
                              </option>
                              {% endfor %}
                           </select>
                        </div>
                        {% endif %}
                        {% if (option['type'] == 'radio') %}
                        <div class="options_group form-group{{ option['required'] ? ' required' : '' }}">
                           <label class="control-label">{{ option['name'] }}</label>
                           <div id="input-option{{ option['product_option_id'] }}">
                              {% for option_value in option['product_option_value'] %}
                              <div class="radio">
                                 <label>
                                 {% if (option_value['image']) %}
                                 <span class="opthe">
                                 <input class="optstyle js-input-option" type="radio"  name="option[{{ option['product_option_id'] }}]" value="{{ option_value['product_option_value_id'] }}" />
                                 <span class="select_check"></span>
                                 <img src="{{ option_value['image'] }}" data-toggle="tooltip" data-placement="top" title="{{ option_value['name'] }}  {% if (option_value['price'] and deluxe_options_prise == 0) %}{{ option_value['price_prefix'] }}{{ option_value['price'] }} {% endif %}" class="img-thumbnail imgpopcatqv" {% if (option_value['image_opt']) %} data-image="{{ option_value['image_opt'] }}" {% else %} data-image="{{ option_value['opt_thumb'] }}" {% endif %} alt="{{ option_value['name'] ~ option_value['price'] ? ' ' ~ option_value['price_prefix'] ~ option_value['price'] : '' }}" />
                                 {% if (option_value['price']) %}
                                 <br />
                                 <span class = "hide_optprise">{{ option_value['price_prefix'] }}{{ option_value['price'] }}</span>
                                 {% endif %}
                                 </span>
                                 {% else %}
                                 <input type="radio"  class="options_none" name="option[{{ option['product_option_id'] }}]" value="{{ option_value['product_option_value_id'] }}" />
                                 <span class="im_option" {% if (option_value['price'] and deluxe_options_prise == 0) %} data-toggle="tooltip" data-placement="top" title="{{ option_value['price_prefix'] }}{{ option_value['price'] }}" {% endif %}>{{ option_value['name'] }} </span>
                                 {% if (option_value['price']) %}
                                 <span class = "hide_optprise">{{ option_value['price_prefix'] }}{{ option_value['price'] }}</span>
                                 {% endif %}<span class = "options-prheight"></span>
                                 {% endif %}
                                 </label>
                              </div>
                              {% endfor %}
                           </div>
                        </div>
                        {% endif %}
                        {% if (option['type'] == 'checkbox') %}
                        <div class="options_group form-group{{ option['required'] ? ' required' : '' }}">
                           <label class="control-label">{{ option['name'] }}</label>
                           <div id="input-option{{ option['product_option_id'] }}">
                              {% for option_value in option['product_option_value'] %}
                              <div class="checkbox">
                                 <label>
                                 {% if (option_value['image']) %}
                                 <span class="opthe">
                                 <input class="optstyle js-input-option" type="checkbox" name="option[{{ option['product_option_id'] }}][]" value="{{ option_value['product_option_value_id'] }}" />
                                 <span class="select_check"></span>
                                 <img src="{{ option_value['image'] }}" data-toggle="tooltip" data-placement="top" title="{{ option_value['name'] }}  {% if (option_value['price'] and deluxe_options_prise == 0) %}{{ option_value['price_prefix'] }}{{ option_value['price'] }} {% endif %}" class="img-thumbnail imgpopcatqv" {% if (option_value['image_opt']) %} data-image="{{ option_value['image_opt'] }}" {% else %} data-image="{{ option_value['opt_thumb'] }}" {% endif %} alt="{{ option_value['name'] ~ option_value['price'] ? ' ' ~ option_value['price_prefix'] ~ option_value['price'] : '' }}" />
                                 {% if (option_value['price']) %}
                                 <br />
                                 <span class = "hide_optprise">{{ option_value['price_prefix'] }}{{ option_value['price'] }}</span>
                                 {% endif %}
                                 </span>
                                 {% else %}
                                 <input type="checkbox" class="options_none" name="option[{{ option['product_option_id'] }}][]" value="{{ option_value['product_option_value_id'] }}" />
                                 <span class="im_option" {% if (option_value['price'] and deluxe_options_prise == 0) %} data-toggle="tooltip" data-placement="top" title="{{ option_value['price_prefix'] }}{{ option_value['price'] }}" {% endif %}>{{ option_value['name'] }} </span>
                                 {% if (option_value['price']) %}
                                 <span class = "hide_optprise">{{ option_value['price_prefix'] }}{{ option_value['price'] }}</span>
                                 {% endif %}<span class = "options-prheight"></span>
                                 {% endif %}
                                 </label>
                              </div>
                              {% endfor %}
                           </div>
                        </div>
                        {% endif %}
                        {% if (option['type'] == 'text') %}
                        <div class="form-group{{ option['required'] ? ' required' : '' }}">
                           <label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}</label>
                           <input type="text" name="option[{{ option['product_option_id'] }}]" value="{{ option['value'] }}" placeholder="{{ option['name'] }}" id="input-option{{ option['product_option_id'] }}" class="form-control" />
                        </div>
                        {% endif %}
                        {% if (option['type'] == 'textarea') %}
                        <div class="form-group{{ option['required'] ? ' required' : '' }}">
                           <label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}</label>
                           <textarea name="option[{{ option['product_option_id'] }}]" rows="5" placeholder="{{ option['name'] }}" id="input-option{{ option['product_option_id'] }}" class="form-control">{{ option['value'] }}</textarea>
                        </div>
                        {% endif %}
                        {% if (option['type'] == 'file') %}
                        <div class="form-group{{ option['required'] ? ' required' : '' }}">
                           <label class="control-label">{{ option['name'] }}</label>
                           <button type="button" id="button-upload{{ option['product_option_id'] }}" data-loading-text="{{ text_loading }}" class="btn btn-default btn-block"><i class="fa fa-upload"></i> {{ button_upload }}</button>
                           <input type="hidden" name="option[{{ option['product_option_id'] }}]" value="" id="input-option{{ option['product_option_id'] }}" />
                        </div>
                        {% endif %}
                        {% if (option['type'] == 'date') %}
                        <div class="form-group{{ option['required'] ? ' required' : '' }}">
                           <label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}</label>
                           <div class="input-group date">
                              <input type="text" name="option[{{ option['product_option_id'] }}]" value="{{ option['value'] }}" data-date-format="YYYY-MM-DD" id="input-option{{ option['product_option_id'] }}" class="form-control" />
                              <span class="input-group-btn">
                              <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                              </span>
                           </div>
                        </div>
                        {% endif %}
                        {% if (option['type'] == 'datetime') %}
                        <div class="form-group{{ option['required'] ? ' required' : '' }}">
                           <label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}</label>
                           <div class="input-group datetime">
                              <input type="text" name="option[{{ option['product_option_id'] }}]" value="{{ option['value'] }}" data-date-format="YYYY-MM-DD HH:mm" id="input-option{{ option['product_option_id'] }}" class="form-control" />
                              <span class="input-group-btn">
                              <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                              </span>
                           </div>
                        </div>
                        {% endif %}
                        {% if (option['type'] == 'time') %}
                        <div class="form-group{{ option['required'] ? ' required' : '' }}">
                           <label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}</label>
                           <div class="input-group time">
                              <input type="text" name="option[{{ option['product_option_id'] }}]" value="{{ option['value'] }}" data-date-format="HH:mm" id="input-option{{ option['product_option_id'] }}" class="form-control" />
                              <span class="input-group-btn">
                              <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                              </span>
                           </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                        {% if ((special and special_date_end > special_date_start) and (deluxe_product_timer != 1)) %}
                        <div class="special_border2">
                           <div class="text_special product2">{{ end_special2 }}</div>
                           <div class="special-timer-all">
                              <div class = "special-timere-zone">
                                 <div id = "time_outpopup"></div>
                              </div>
                           </div>
                        </div>
                        {% endif %}
                        {% if (price) %}
                        <div class="pr_price">
                           <div class="line-product">
                              {% if (not special) %}
                              <span class="price-new price">{{ price }}</span>
                              {% else %}
                              <span class="price-old">{{ price }}</span>
                              {% if (deluxe_show_saving != 1) %}
                              <div class="popup-left-corner"><span class="popup3"> - {{ saving_product }}%</span>{{ text_saving }} <span class="autocalc-saving-price"></span> </div>
                              {% endif %}
                              <br />
                              <span class="price-new">{{ special }}</span>
                              {% endif %}
                              {% if (tax or points or discounts) %}
                              <ul class="list-unstyled taxpd">
                                 {% if (tax) %}
                                 <li>{{ text_tax }} {{ tax }}</li>
                                 {% endif %}
                                 {% if (points) %}
                                 <li>{{ text_points }} {{ points }}</li>
                                 {% endif %}
                              </ul>
                              {% if (discounts) %}
                              <span class="discount" data-html="true" data-toggle="tooltip" title="
                                 {% for discount in discounts %}
                                 {{ discount['quantity'] }}{{ text_discount }}{{ discount['price'] }}<br>
                                 {% endfor %}
                                 "><i class="fa fa-info"></i> {{ text_discount2 }}</span>
                              {% endif %}
                              {% endif %}
                           </div>
                        </div>
                        {% endif %}
                        {% if (recurrings) %}
                        <hr>
                        <div class="title-module">{{ text_payment_recurring }}</div>
                        <div class="form-group required">
                           <select name="recurring_id" class="form-control">
                              <option value="">{{ text_select }}</option>
                              {% for recurring in recurrings %}
                              <option value="{{ recurring['recurring_id'] }}">{{ recurring['name'] }}</option>
                              {% endfor %}
                           </select>
                           <div class="help-block" id="recurring-description"></div>
                        </div>
                        {% endif %}
                        <div class=" form-group">
                           <div class="pull-left1">
                              <button type="button" class="minus items-count"><i class="fa fa-minus">&nbsp;</i></button>
                              <input type="text" name="quantity" value="{{ minimum }}" data-toggle="tooltip" title="{{ entry_qty }}" size="2" class="input-quantity form-control prqv" />
                              <button type="button" class="plus items-count2"><i class="fa fa-plus">&nbsp;</i></button>
                              <input type="hidden" name="product_id" value="{{ product_id }}" />
                           </div>
                           {% if (deluxe_wishlist_cat != 1) %}
                           <button type="button" data-toggle="tooltip" class="btn-wishlist" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product_id }}');"><i class="fa fa-heart"></i></button>
                           {% endif %}
                           {% if (deluxe_compare_cat != 1) %}
                           <button type="button" data-toggle="tooltip" class="btn-compare" title="{{ button_compare }}" onclick="compare.add('{{ product_id }}');"><i class="fa fa-balance-scale"></i></button>
                           {% endif %}
                           <div class="clearfix"></div>
                           <div id="pr_alert_danger"></div>
                           <div class="cart" >
                              {% if (quantity <= 0 and aridiusinstock_status ) %}
                              <button type="button" class="btn-instock" onclick="instock.add('{{ product_id }}');" data-product-id="{{ product_id }}">{{ button_instock }}</button>
                              {% else %}
                              <button type="button" id="button-cart_quickw" class="btn-cart product">
                                 <svg class ="w_clock_pr2">
                                    <use xlink:href="catalog/view/theme/deluxe/image/cart.svg#shop_cart" x="0" y="0" width="22" height="22" />
                                 </svg>
                                 {{ button_cart }}
                              </button>
                              {% if (deluxe_forder != 1) %}
                              <button type="button" class="btn-cart btn-cart__fastorder" onclick="fastOrder('{{ product_id }}');" >
                                 <svg class ="w_clock_pr">
                                    <use xlink:href="catalog/view/theme/deluxe/image/clock.svg#shop_clock" x="0" y="0" width="22" height="22" />
                                 </svg>
                                 {{ text_fastorder }}
                              </button>
                              {% endif %}
                              {% endif %}
                           </div>
                           {% if (minimum > 1) %}
                           <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_minimum }}</div>
                           {% endif %}
                        </div>
                        <div class="clearfix"></div>
                     </div>
                     {% if (deluxe_product_show_share != 1) %}
                     <div class="share">
                        <p>
                           {% if (deluxe_share is empty) %}
                           <!-- AddThis Button BEGIN -->
                        <div class="addthis_toolbox addthis_default_style" data-url="{{ share }}"><a class="addthis_button_facebook_like" fb:like:layout="button_count"></a> <a class="addthis_button_tweet"></a> <a class="addthis_button_pinterest_pinit"></a> <a class="addthis_counter addthis_pill_style"></a></div>
                        <script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-515eeaf54693130e"></script>
                        <!-- AddThis Button END -->
                        {% else %}
                        {{ deluxe_share }}
                        {% endif %}
                     </div>
                     {% endif %}
                  </div>
               </div>
               {% if (not aridius_qckview_tab_description) %}
               <div class="tab-pane" id="tab-description">{{ description }}</div>
               {% endif %}
               {% if (attribute_groups and not aridius_qckview_tab_character) %}
               <div class="tab-pane" id="tab-specification">
                  <table class="product_specification">
                     {% for attribute_group in attribute_groups %}
                     <thead>
                        <tr>
                           <td class="attribute_group_name" colspan="2"><strong>{{ attribute_group['name'] }}</strong></td>
                        </tr>
                     </thead>
                     <tbody>
                        {% for attribute in attribute_group['attribute'] %}
                        <tr class="product_specification_item">
                           <td class ="product_specification_title"><span>{{ attribute['name'] }}</span></td>
						   <td class="ftr-item__doter"></td>
                           <td class ="product_specification_value">{{ attribute['text'] }}</td>
                        </tr>
                        {% endfor %}
                     </tbody>
                     {% endfor %}
                  </table>
               </div>
               {% endif %}
               {% if (review_status and not aridius_qckview_tab_reviews) %}
               <div class="tab-pane" id="tab-review">
                  <form class="form-horizontal qa-form" id="form-review" style="display: none;">
                     <div id="review_text">
                        {% if (review_guest) %}
                        <span class="text-write">{{ text_write }}</span>
                        <div class="qa_shop"></div>
                        <div class="form-group required">
                           <div class="col-sm-12">
                              <label class="control-label" for="input-name">{{ entry_name }}</label>
                              <input type="text" name="name" value="{{ customer_name }}" id="input-name" class="form-control" />
                           </div>
                        </div>
                        <div class="form-group required">
                           <div class="col-sm-12">
                              <label class="control-label" for="input-review">{{ entry_review }}</label>
                              <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
                           </div>
                        </div>
                        <div class="form-group">
                           <div class="col-sm-12">
                              <label for="input-dignity">{{ text_dignity }}</label>
                              <input type="text" name="dignity" id="input-dignity" class="form-control">
                           </div>
                        </div>
                        <div class="form-group">
                           <div class="col-sm-12">
                              <label for="input-limitations">{{ text_limitations }}</label>
                              <input type="text" name="limitations" id="input-limitations" class="form-control">
                           </div>
                        </div>
                        <div class="help-block">{{ text_note }}</div>
                        <div class="form-group required">
                           <div class="col-sm-12">
                              <label class="control-label">{{ entry_rating }}</label>
                              <input type="hidden" name="rating" value="{{ deluxe_product_raiting }}" class="rating-tooltip"/>
                           </div>
                        </div>
                        {{ captcha }}
                        <div class="buttons clearfix">
                           <div class="pull-right">
                              <button type="submit" id="button-review" class="btn btn-primary add-qa">{{ button_continue }}</button>
                           </div>
                        </div>
                        <input type="hidden" name="parent" value="0">
                        {% else %}
                        {{ text_login }}
                        {% endif %}
                     </div>
                  </form>
                  <div class="rating_main">
                     <div class="col-xs-12 col-sm-6">
                        <div class="rating_avr">
                           <span class="rating_avrsm">{{ text_rating_avr }}</span>
                           <span class="avr_rating">{{ rating_avr|round(1) }}</span> <span class="avr3">{{ text_rating_avrmax }}</span>
                           <br />
                           <input type="hidden" class="rating" data-readonly value="{{ rating_avr|round(1) }}"/>
                        </div>
                        <div class="buttons_rew">
                           <button type="button" class="btn-cart" onclick="hide_show(event, '#form-review')"><i class="fa fa-pencil hidden-xs" aria-hidden="true"></i> {{ text_write_review }}</button>
                        </div>
                     </div>
                     <div class="col-xs-12 col-sm-6">
                        {% for stack_ratings in stack_rating %}
                        <div class="line_rew">
                           <span class="retihf fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span><span class="reting_num">5</span>
                           <div class="percent_rating_line">
                              <div class="percent_line" style="width: {{ stack_ratings['five'] }}%"></div>
                           </div>
                           <span class="rating_per">{{ stack_ratings['five'] }}% </span>
                        </div>
                        <div class="line_rew">
                           <span class="retihf fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span><span class="reting_num">4</span>
                           <div class="percent_rating_line">
                              <div class="percent_line" style="width: {{ stack_ratings['four'] }}%"></div>
                           </div>
                           <span class="rating_per">{{ stack_ratings['four'] }}%</span>
                        </div>
                        <div class="line_rew">
                           <span class="retihf fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span><span class="reting_num">3</span>
                           <div class="percent_rating_line">
                              <div class="percent_line" style="width: {{ stack_ratings['three'] }}%"></div>
                           </div>
                           <span class="rating_per">{{ stack_ratings['three'] }}%</span>
                        </div>
                        <div class="line_rew">
                           <span class="retihf fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span><span class="reting_num">2</span>
                           <div class="percent_rating_line">
                              <div class="percent_line" style="width: {{ stack_ratings['two'] }}%"></div>
                           </div>
                           <span class="rating_per">{{ stack_ratings['two'] }}%</span>
                        </div>
                        <div class="line_rew">
                           <span class="retihf fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span><span class="reting_num">1</span>
                           <div class="percent_rating_line">
                              <div class="percent_line" style="width: {{ stack_ratings['one'] }}%"></div>
                           </div>
                           <span class="rating_per">{{ stack_ratings['one'] }}%</span>
                        </div>
                        {% endfor %}
                     </div>
                  </div>
                  <div class="clearh"></div>
                  <div id="review">
                     {% if (reviews_first['reviews']) %}
                     {% for review in reviews_first_page %}
                     <div class="review_table" itemprop = "review" itemscope itemtype = "http://schema.org/Review">
                        <div class="review_main">
                           <div class="review_avatar">{{ review['author']|slice(0, 1) }}</div>
                           <div class="review_author"><strong itemprop = "author">{{ review['author'] }}</strong></div>
                           <div class="review_date"><time itemprop = "datePublished" datetime = "{{ review['date_added'] }}" >{{ review['date_added'] }}</time></div>
                           <div class="review_stack">
                              {% set i = 1 %}{% for i in i..5 %}
                              {% if (review['rating'] < i) %}
                              <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                              {% else %}
                              <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
                              {% endif %}
                              {% endfor %}
                           </div>
                           <div class="rating" itemprop = "reviewRating" itemscope itemtype = "http://schema.org/Rating">
                              <meta itemprop = "worstRating" content = "1" >
                              <meta itemprop = "ratingValue" content="{{ review['rating'] }}">
                              <meta itemprop = "bestRating" content="5">
                           </div>
                           <div class="review_text">
                              <p itemprop = "reviewBody">{{ review['text'] }}</p>
                           </div>
                           {% if (review['dignity']) %}
                           <p><b>{{ text_dignity }}</b> {{ review['dignity'] }}</p>
                           {% endif %}
                           {% if (review['limitations']) %}
                           <p><b>{{ text_limitations }}</b> {{ review['limitations'] }}</p>
                           {% endif %}
                           <div class="likes-dislikesmain">
                              <span data-id="{{ review['review_id'] }}" class="dislikes {% if (review['check_dislikes'] != 0) %} {{ "dislikes_active" }} {% endif %}" data-name="dislikes"> <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>{% if (review['sum_dislikes'] != 0) %} {{ review['sum_dislikes'] }} {% endif %} </span>
                              <span data-id="{{ review['review_id'] }}" class="likes {% if (review['check_likes'] != 0) %} {{ "likes_active" }} {% endif %}" data-name="likes"> <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>{% if (review['sum_likes'] != 0) %} {{ review['sum_likes'] }} {% endif %} </span>
                              <span class="is_review_text">{{ text_is_review }}</span>
                           </div>
                           <i class="fa fa-reply" aria-hidden="true"></i>
                           <a data-parent="{{ review['review_id'] }}" class="comment-reply_qa" href="javascript:void(0);">{{ text_write_qa }}</a>
                        </div>
                        {% if (review['parent']) %}
                        {% for parent in review['parent'] %}
                        <div class="review_table qa-parent">
                           <div class="review_avatar">{{ parent['author']|slice(0, 1) }}</div>
                           <div class="review_author"><strong>{{ parent['author'] }}</strong></div>
                           <div class="review_date">{{ parent['date_added'] }}</div>
                           <div class="qa-parent-text">
                              <div class="review_text">
                                 <p>{{ parent['text'] }}</p>
                              </div>
                           </div>
                           <div class="likes-dislikes">
                              <span data-id="{{ parent['review_id2'] }}" class="dislikes {% if (parent['check_dislikes2'] != 0) %} {{ "dislikes_active" }} {% endif %}" data-name="dislikes"> <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>{% if (parent['sum_dislikes2'] != 0) %} {{ parent['sum_dislikes2'] }} {% endif %} </span>
                              <span data-id="{{ parent['review_id2'] }}" class="likes {% if (parent['check_likes2'] != 0) %} {{ "likes_active" }} {% endif %}" data-name="likes"> <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>{% if (parent['sum_likes2'] != 0) %} {{ parent['sum_likes2'] }} {% endif %} </span>
                              <span class="is_review_text">{{ text_is_review }}</span>
                           </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                     </div>
                     {% endfor %}
                     <div class="text-right">{{ reviews_first['pagination'] }}</div>
                     {% else %}
                     <p>{{ reviews_first['text_no_reviews'] }}</p>
                     {% endif %}
                  </div>
               </div>
               {% endif %}
               <!-- custom_tabs -->
               {% if (custom_tabs and not aridius_qckview_tab_additional) %}
               {% for key,custom_tab in custom_tabs %}
               {% if (custom_tab['title']) %}
               <div class="tab-pane" id="tab-custom-{{ key}}">{{ custom_tab['description'] }}</div>
               {% endif %}
               {% endfor %}
               {% endif %}
               <!-- custom_tabs -->
               <!-- theme__tabs -->
               {% if (theme_tabs and not aridius_qckview_tab_additional) %}
               {% for key, theme_tab  in theme_tabs %}
               {% if (theme_tab.description) %}
               <div class="tab-pane" id="tab-add-{{ key }}">{{ (theme_tab['description']) }}</div>
               {% endif %}
               {% endfor %}
               {% endif %}
            </div>
         </div>
      </div>
   </div>
   <script src="catalog/view/javascript/jquery/datetimepicker/moment/moment.min.js"></script>
   <script src="catalog/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js"></script>
   <link href="catalog/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css"/>
   <script src="catalog/view/theme/deluxe/js/bootstrap_rating/bootstrap-rating.js"></script>
   <!-- datetimepicker -->
   <script><!--
      $('.date').datetimepicker({
      pickTime: false
      });
      $('.datetime').datetimepicker({
      pickDate: true,
      pickTime: true
      });
      $('.time').datetimepicker({
      pickDate: false
      });
      $('button[id^=\'button-upload\']').on('click', function() {
      var node = this;
      $('#form-upload').remove();
      $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');
      $('#form-upload input[name=\'file\']').trigger('click');
      if (typeof timer != 'undefined') {
      clearInterval(timer);
      }
      timer = setInterval(function() {
      if ($('#form-upload input[name=\'file\']').val() != '') {
      clearInterval(timer);
      $.ajax({
      url: 'index.php?route=tool/upload',
      type: 'post',
      dataType: 'json',
      data: new FormData($('#form-upload')[0]),
      cache: false,
      contentType: false,
      processData: false,
      beforeSend: function() {
      $(node).button('loading');
      },
      complete: function() {
      $(node).button('reset');
      },
      success: function(json) {
      $('.text-danger').remove();
      if (json['error']) {
      $(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
      }
      if (json['success']) {
      alert(json['success']);
      $(node).parent().find('input').val(json['code']);
      }
      },
      error: function(xhr, ajaxOptions, thrownError) {
      alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
      });
      }
      }, 500);
      });
      //-->
   </script>
   <!-- rating -->
   <script><!--
      $(function () {
      $('.rating-tooltip').ar_rating({
      extendSymbol: function (rate) {
      $(this).tooltip({
      container: 'body',
      placement: 'bottom',
      title: rate
      });
      }
      });
      });
      //-->
   </script>
   <!--review stars -->
   <script><!--
      $(".review_profile").click(function (){
      var tabTop = $(".nav-tabs").offset().top;
      $("html, body").animate({ scrollTop:tabTop }, 800);
      });
      //-->
   </script>
   <!-- add cart -->
   <script><!--
      $('#button-cart_quickw').on('click', function() {
      $.ajax({
      url: 'index.php?route=checkout/cart/add',
      type: 'post',
      data: $('#product_quickw input[type=\'text\'], #product_quickw input[type=\'hidden\'], #product_quickw input[type=\'radio\']:checked, #product_quickw input[type=\'checkbox\']:checked, #product_quickw select, #product_quickw textarea'),
      dataType: 'json',
      complete: function() {
      $('#button-cart_quickw').button('reset');
      },
      success: function(json) {
      $('.alert, .text-danger').remove();
      $('.form-group').removeClass('has-error');
      if (json['error']) {
      if (json['error']['option']) {
      for (i in json['error']['option']) {
      var element = $('#input-option' + i.replace('_', '-'));
      if (element.parent().hasClass('input-group')) {
      element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
      } else {
      element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
      }
      }
      }
      if (json['error']['recurring']) {
      $('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
      }
      // Highlight any found errors
      $('.text-danger').parent().addClass('has-error');
      }
      if (json['success']) {
      $.magnificPopup.close();
      $.magnificPopup.open({
      removalDelay: 500,
      fixedContentPos: true,
      items: {
      src: 'index.php?route=common/aridius_cart/info'
      },
      type: 'ajax',
      removalDelay: 0,
      mainClass: 'my-mfp-zoom-in'
      });
      $('#cart button > span').html('<span> &nbsp;' + json['total'] + '&nbsp;<span class="caret"></span></span>');
      $('#cart').load('index.php?route=common/cart/info #cart > *');
      $('#cart2').load('index.php?route=common/cart2/info #cart2 > *');
      $('#aridius_cart').load('index.php?route=common/aridius_cart/info #aridius_cart > *', function() {
      carousel();
      });
      }
      },
      error: function(xhr, ajaxOptions, thrownError) {
      alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
      });
      });
      //-->
   </script>
   <script><!--
      <!--timerpopup -->
      var popupq;
      function get_timerpopup(isstart) {
      if (!isstart) {clearTimeout (popupq);return;}
      {% if ((special and special_date_end > special_date_start) and (deluxe_product_timer != 1)) %}
      get_timer2();
      popupq = setInterval(get_timer2,1000);
      {% endif %}
      }
      function get_timer2() {
      var countDownDate = new Date('{{ special_date_end }}').getTime();
      var now = new Date().getTime();
      var distance = countDownDate - now;
      var day = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hour = Math.floor(((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60))-2);
      var min = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var sec = Math.floor((distance % (1000 * 60)) / 1000);
      if(day<10)day='0'+day;
      if(hour<10)hour='0'+hour;
      if(min<10)min='0'+min;
      if(sec<10)sec='0'+sec;
      var timestr =  "<div class='countdown'><div class='day'><span class='num'>" +day+ "</span><span class='word'>{{ day }}</span></div><span class='special-timer-line'>:</span><div class='hour'><span class='num'>" +hour+ "</span><span class='word'>{{ hour }}</span></div><span class='special-timer-line'>:</span><div class='min'><span class='num'>" +min+ "</span><span class='word'>{{ minute }}</span></div><span class='special-timer-line'>:</span><div class='sec'><span class='num'>" +sec+ "</span><span class='word'>{{ second }}</span></div></div>";
      document.getElementById('time_outpopup').innerHTML=timestr;
      }
      //-->
   </script>
   <!-- + / - -->
   <script><!--
      function minus(){
      if(document.getElementsByClassName ("input-quantity")[0].value <= 1) {
      return false;
      }
      document.getElementsByClassName ("input-quantity")[0].value --;
      };
      function plus(){
      document.getElementsByClassName ("input-quantity")[0].value ++;
      };
      $('.minus').click(function(){
      minus();
      });
      $('.plus').click(function(){
      plus();
      });
      //-->
   </script>
   <script>
      $(function() {
      function getData3(slider) {
      var slides2 = slider.slides;
      var activeIndex2 = slider.activeIndex;
      var $currentSlide2 = $(slides2[activeIndex2]);
      var $currentImage2 = $currentSlide2.find('img');
      return {
      slides2: slides2,
      activeIndex2: activeIndex2,
      $currentSlide2: $currentSlide2,
      $currentImage2: $currentImage2
      }
      }
      var $gallery2 = $('.demo-galleryqv');
      var $slides2 = $gallery2.find('.main-imageqv');
      if ($slides2.length > 1) {
      var initialSlide2 = 0;
      window.mainCarousel2;
      setTimeout(() => {
      window.thumbCarousel2 = new Swiper ('#additional', {
      initialSlide2: initialSlide2,
      slidesPerView: 4,
      breakpoints: {
      768: {
      slidesPerView: 3,
      },
      992: {
      slidesPerView: 5,
      },
      1200: {
      slidesPerView: 3,
      },
      1600: {
      slidesPerView: 4,
      }
      },
      navigation: {
      nextEl: '.add_img_v2.swiper-button-next',
      prevEl: '.add_img_v2.swiper-button-prev',
      },
      on: {
      init: function() {
      $(this.slides[initialSlide2]).addClass('swiper-slide-selected');
      window.mainCarousel2 = new Swiper ('.demo-galleryqv', {
      slidesPerView: 1,
      pagination: {
      el: '.main_imgqv.swiper-pagination',
      clickable: true,
      },
      on: {
      slideChange: function() {
      var activeIndex2 = this.activeIndex;
      var thumbCarousel2 = window.thumbCarousel2;
      var slides2 = thumbCarousel2.slides;
      Object.values(slides2).forEach(function(slide) {
      $(slide).removeClass('swiper-slide-selected');
      });
      $(slides2[activeIndex2]).addClass('swiper-slide-selected');
      if (activeIndex2 < thumbCarousel2.slides.length) {
      thumbCarousel2.slideTo(activeIndex2);
      }
      },
      }
      });
      },
      click: function(e) {
      if (!window.mainCarousel2) return;
      var index2 = this.clickedIndex;
      window.mainCarousel2.slideTo(index2, 300);
      }
      }
      });
      }, 200)
      } else {
      var $currentImage2 = $slides2.eq(0);
      }
      {% if (deluxe_imageadd_hover == '1') %}
      //Swiper Slider Mouse Hover
      $('#additional .swiper-slide').on('mouseover', function() {
      window.mainCarousel2.slideTo($(this).index());
      })
      {% endif %}
      });
   </script>
   <script><!--
      jQuery(document).ready(function () {
      $('.imgpopcatqv').click( "click" , function(event){
      var $gallery2 = $('.demo-galleryqv');
      var $slides2 = $gallery2.find('.main-imageqv');
      var $this = $(this);
      if ($slides2.length > 1) {
      var mainCarousel2 = window.mainCarousel2;
      if (!mainCarousel2) return false;
      var slides2 = mainCarousel2.slides;
      var popPath = $this.data('image');
      var index2 = 0;
      Object.values(slides2).forEach(function(slide, idx) {
      var $img = $(slide).find('img');
      if ($img.prop('src') === popPath) index2 = idx;
      });
      mainCarousel2.slideTo(index2, 300);
      } else {
      var img = $this.attr('data-image');
      var title = $this.attr('title');
      var imgphoto = $this.data('zoomImage');
      var $mainImage = $('#main-imageqv');
      $mainImage.attr("src" , img);
      $mainImage.data('zoomImage', imgphoto);
      }
      });
      });
      //-->
   </script>
   <!-- likes -->
   <script><!--
      $(".likes").click(async function () {
      let review_id = $(this).attr('data-id');
      let class_btn = $(this).attr('data-name');
      let date = {
      review_id: review_id,
      name_btn: class_btn,
      }
      let response = await fetch('index.php?route=extension/module/aridius_likes/likes', {
      method: 'POST',
      headers: {
      'Content-Type': 'application/json;charset=utf-8'
      },
      body: JSON.stringify(date)
      })
      let result = await response.json();
      if (response.ok) {
      $(this).contents().filter(function () {
      return this.nodeType === 3;
      }).remove();
      if (result.sum != 0) {
      $(this).append(result.sum);
      }
      if (result.status == 1) {
      $(this).addClass("likes_active");
      } else {
      $(this).removeClass("likes_active");
      }
      }
      });
      $(".dislikes").click(async function () {
      let review_id = $(this).attr('data-id');
      let class_btn = $(this).attr('data-name');
      let date = {
      review_id: review_id,
      name_btn: class_btn,
      }
      let response = await fetch('index.php?route=extension/module/aridius_likes/likes', {
      method: 'POST',
      headers: {
      'Content-Type': 'application/json;charset=utf-8'
      },
      body: JSON.stringify(date)
      });
      let result = await response.json();
      if (response.ok) {
      $(this).contents().filter(function () {
      return this.nodeType === 3;
      }).remove();
      if (result.sum != 0) {
      $(this).append(result.sum);
      }
      if (result.status == 1) {
      $(this).addClass("dislikes_active");
      } else {
      $(this).removeClass("dislikes_active");
      }
      }
      });
      //-->
   </script>
   <!-- end likes -->
   <!-- review -->
   <script><!--
      $('#review').delegate('.pagination a', 'click', function(e) {
      e.preventDefault();
      $('#review').fadeOut('slow');
      $('#review').load(this.href);
      $('#review').fadeIn('slow');
      });
      //-->
   </script>
   <script><!--
      $(document).on('click', '.comment-reply_qa', function () {
      var $this=$(this);
      $.post( "index.php?route=product/aridius_review/reply_qa", { parent: $this.attr("data-parent") }, function( data ) {
      $('.reply-form').remove();
      $this.parent().append('<div class="reply-form">' + data.html + '</div>');
      }, "json");
      });
      //-->
   </script>
   <script><!--
      $(document).on('submit','form.qa-form',function(e){
      e.preventDefault();
      var $this=$(this);
      $.ajax({
      url: 'index.php?route=product/aridius_review/write&product_id={{ product_id }}',
      type: 'post',
      dataType: 'json',
      data: $this.serialize(),
      beforeSend: function () {
      $this.find('#button-review').button('loading');
      },
      complete: function () {
      $this.find('#button-review').button('reset');
      },
      success: function (json) {
      $('.alert-success, .alert-danger').remove();
      if (json['error']) {
      $this.find('.qa_shop').after('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
      }
      if (json['success']) {
      $this.find('.qa_shop').after('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');
      $this.find('input[name=\'name\']').val('');
      $this.find('textarea[name=\'text\']').val('');
      $this.find('input[name=\'dignity\']').val('');
      $this.find('input[name=\'limitations\']').val('');
      $this.find('input[name=\'rating\']:checked').prop('checked', false);
      setTimeout(function(){ $('.reply-form').remove();},2600)
      }
      }
      });
      });
      //-->
   </script>
   <!-- review end -->
   <script><!--
      function hide_show(event, selector) {
      var form = document.querySelector(selector)
      if (form.style.display == "none") {
      form.style.display = "block"
      } else {
      form.style.display = "none"
      }
      event.currentTarget.style.display = 'none';
      }
      //-->
   </script>
</div>
