{{ header }}
<link href="catalog/view/theme/deluxe/js/brazzers_carousel/jQuery.Brazzers-Carousel.css" rel="stylesheet" type="text/css" />
<script src="catalog/view/theme/deluxe/js/brazzers_carousel/jQuery.Brazzers-Carousel.js"></script>
<script>
   $(document).ready(function() {
   $(".item_img").brazzersCarousel();
   });
</script>
<div class="container" >
<div class="bread_scroll">
   <ul class="breadcrumb tab_mob_child" itemscope itemtype="http://schema.org/BreadcrumbList">
      {% for i,breadcrumb in breadcrumbs %}
      {% if (i == 0) %}
      <li class="tab_mob_grandchild"><a href="{{ breadcrumb['href'] }}" class="current-link">{{ breadcrumb['text'] }}</a></li>
      {% elseif (breadcrumbs|length > i+1 ) %}
      <li class="tab_mob_grandchild" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
         <a href="{{ breadcrumb['href'] }}" itemprop="item" itemscope itemtype="https://schema.org/Thing" itemid="{{ breadcrumb['href'] }}" title="{{ breadcrumb['text'] }}"><span itemprop="name">{{ breadcrumb['text'] }}</span></a>
         <meta itemprop="position" content="{{ i }}">
      </li>
      {% else %}
      <li class="tab_mob_grandchild" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
         <span itemprop="item" itemscope itemtype="https://schema.org/Thing" itemid="{{ breadcrumb['href'] }}" title="{{ breadcrumb['text'] }}"><span itemprop="name">{{ breadcrumb['text'] }}</span></span>
         <meta itemprop="position" content="{{ i }}">
      </li>
      {% endif %}
      {% endfor %}
   </ul>
</div>


<div class="row">

{% if (categories and deluxe_categories_2lvshow != 1) %}
<div class="category2lv-center">
   <div class="row ico_wall appedbl">
      {% for category in categories %}
      <div class="fix_rowm  catb col-xs-6 col-sm-4 col-md-4 col-lg-3">
         <div class="cat_add">
            {% if (deluxe_categories_2lv != 1 and (category['thumb'] is not empty)) %}
            {% if (deluxe_lazy) %}
            <a class="catpr" href="{{ category['href'] }}"><img src="{{ category['thumb'] }}" alt="{{ category['name'] }}" class="img-responsive opacityhv" width="{{ deluxe_categories_2lv_width }}" height="{{ deluxe_categories_2lv_height }}" /></a>
            {% else %}
            <a class="catpr" href="{{ category['href'] }}"><img data-src="{{ category['thumb'] }}" src="catalog/view/theme/deluxe/js/aridius/loader.svg" alt="{{ category['name'] }}" class="lazyload img-responsive opacityhv" width="{{ deluxe_categories_2lv_width }}" height="{{ deluxe_categories_2lv_height }}" /></a>
            {% endif %}
            {% endif %}
            <a class="catpr2" href="{{ category['href'] }}">{{ category['name'] }}</a>
         </div>
      </div>
      {% endfor %}
   </div>
</div>
{% endif %}


</div>

</div>


<div class="product-list-component__wrapper" >
<div class="container fixcat3" >
<div class="row">

<div id="cont">





<div class="clearfix">	</div>
<div class="row">



<div class="product-list-component__top">

<div class="title__wrapper">
            <h1 class="title">{{ heading_title }}</h1>
        </div>



<div class="page-sort-component">

      <div class="sort2">
         {% if (deluxe_count_cat != 1) %}
         <div class="form-group input-group input-group-sm">

            <select id="input-limit" class="form-control" onchange="location = this.value;">
               {% for limits in limits %}
               {% if (limits['value'] == limit) %}
               <option value="{{ limits['href'] }}" selected="selected">{{ limits['text'] }}</option>
               {% else %}
               <option value="{{ limits['href'] }}">{{ limits['text'] }}</option>
               {% endif %}
               {% endfor %}
            </select>
         </div>
         {% endif %}
      </div>
	  
	  
	  
	  
	  
	  
	        <div class="sort1">
         {% if (deluxe_sort_cat != 1) %}
         <div class="form-group input-group input-group-sm">
    
            <select id="input-sort" class="form-control" onchange="location = this.value;">
               {% for sorts in sorts %}
               {% if (sorts['value'] == sort ~ '-' ~ order) %}
               <option value="{{ sorts['href'] }}" selected="selected">{{ sorts['text'] }}</option>
               {% else %}
               <option value="{{ sorts['href'] }}">{{ sorts['text'] }}</option>
               {% endif %}
               {% endfor %}
            </select>
         </div>
         {% endif %}
      </div>
	  
	  </div>
	  
	  
	  
		  </div>  
	  
   

</div>






{{ column_left }}
{% if (column_left and column_right) %}
{% set class = 'col-sm-6' %}
{% elseif (column_left or column_right) %}
{% set class = 'col-sm-9 fixcat6' %}
{% else %}
{% set class = 'col-sm-12' %}
{% endif %}
<div id="content bbc" class="{{ class }}">
{{ content_top }}

<br />
{% if (deluxe_description_pg1 != 1) %}
{% if (page == 1) %}
{% if (deluxe_description_top_or_bot != 1) %}
{% if (thumb or description) %}
<div class="row desc-cat_top">
{% if (thumb and not deluxe_categories_img) %}
<div class="col-sm-2"><img src="{{ thumb }}" alt="{{ heading_title }}" title="{{ heading_title }}" class="img-thumbnail" /></div>
{% endif %}
{% if (description) %}
{% if (deluxe_description_length != 1 and description|length > deluxe_categories_limit ) %}
{% if (thumb and deluxe_categories_img != 1) %}
<div class="row cat_desc col-sm-10">
{% else %}
<div class="row cat_desc col-sm-12">
   {% endif %}
   <div class="block_desc">
      {{ description }}
   </div>
   <a class="button_sh">{{ text_show_desc }} <i class="btn_readmore2 fa fa-long-arrow-right"></i></a>
</div>
{% else %}
{% if (thumb and deluxe_categories_img != 1) %}
<div class="cat_desc col-sm-10">
   {% else %}
   <div class="cat_desc col-sm-12">{% endif %}{{ description }}</div>
   {% endif %}
   {% endif %}
</div>
{% endif %}
{% endif %}
{% endif %}
{% else %}
{% if (deluxe_description_top_or_bot != 1) %}
{% if (thumb or description) %}
<div class="row desc-cat_top">
{% if (thumb and not deluxe_categories_img) %}
<div class="col-sm-2"><img src="{{ thumb }}" alt="{{ heading_title }}" title="{{ heading_title }}" class="img-thumbnail" /></div>
{% endif %}
{% if (description) %}
{% if (deluxe_description_length != 1 and description|length > deluxe_categories_limit ) %}
{% if (thumb and deluxe_categories_img != 1) %}
<div class="cat_desc col-sm-10">
{% else %}
<div class="cat_desc col-sm-12">
   {% endif %}
   <div class="block_desc">
      {{ description }}
   </div>
   <a class="button_sh">{{ text_show_desc }} <i class="btn_readmore2 fa fa-long-arrow-right"></i></a>
</div>
{% else %}
{% if (thumb and deluxe_categories_img != 1) %}
<div class="cat_desc col-sm-10">
   {% else %}
   <div class="cat_desc col-sm-12">{% endif %}{{ description }}</div>
   {% endif %}
   {% endif %}
</div>
{% endif %}
{% endif %}
{% endif %}

{% if (products) %}

<br />
<div class="row flex_height_row fixcat2">
   {% for product in products %}
   <div class=" cat_heightflex product-layout3h product-layout_cat product-grid col-xl-4 col-lg-3 col-md-6 col-sm-4 col-xs-6 fixcat1">
      <div class="cat_heightflex gtile-i-wrap n_shad">
         <div class="gtile-i">
            <div class="gtile-i-box">
               <div class="item_cat caption">
                  <div class="{% if (deluxe_rating_cat != 1) %}raiting_thumb{% endif %} product-thumb">


                     {% if (deluxe_lazy) %}
                     <div class="image"><a href="{{ product['href'] }}"><img src="{{ product['thumb'] }}" alt="{{ product['name'] }}" title="{{ product['name'] }}" class="img-responsive cat_main_img{{ product['product_id'] }}" width="{{ deluxe_image_product_width }}" height="{{ deluxe_image_product_height }}" /></a></div>
                     {% else %}
                     <div class="image"><a href="{{ product['href'] }}"><img data-src="{{ product['thumb'] }}" src="catalog/view/theme/deluxe/js/aridius/loader.svg" alt="{{ product['name'] }}" title="{{ product['name'] }}" class="lazyload img-responsive cat_main_img{{ product['product_id'] }}" width="{{ deluxe_image_product_width }}" height="{{ deluxe_image_product_height }}" /></a></div>
                     {% endif %}
              
		                        <div class="additional-links ">
                           <ul>
                        
                              <li class = "additional-action">
                                 <a onclick="wishlist.add('{{ product['product_id'] }}');" title="{{ button_wishlist }}">
                             <span class="fag">
							 <svg aria-hidden="true" width="2.5rem" height="2.5rem" viewBox="0 0 23 21" xmlns="http://www.w3.org/2000/svg"><path d="M21.3571 6.93527C21.3571 6.24219 21.263 5.63039 21.0748 5.09989C20.8951 4.56938 20.6598 4.15011 20.3689 3.84208C20.0865 3.52548 19.74 3.26879 19.3292 3.07199C18.9185 2.87519 18.5164 2.74256 18.1228 2.67411C17.7292 2.60565 17.3099 2.57143 16.865 2.57143C16.42 2.57143 15.9408 2.68266 15.4275 2.90513C14.9141 3.11905 14.4392 3.39286 14.0028 3.72656C13.575 4.05171 13.207 4.35975 12.899 4.65067C12.591 4.93304 12.3343 5.19401 12.1289 5.43359C11.9749 5.62184 11.7653 5.71596 11.5 5.71596C11.2347 5.71596 11.0251 5.62184 10.8711 5.43359C10.6657 5.19401 10.409 4.93304 10.101 4.65067C9.79297 4.35975 9.42076 4.05171 8.98438 3.72656C8.55655 3.39286 8.08594 3.11905 7.57255 2.90513C7.05915 2.68266 6.57999 2.57143 6.13505 2.57143C5.6901 2.57143 5.27083 2.60565 4.87723 2.67411C4.48363 2.74256 4.08147 2.87519 3.67076 3.07199C3.26004 3.26879 2.90923 3.52548 2.6183 3.84208C2.33594 4.15011 2.10063 4.56938 1.91239 5.09989C1.7327 5.63039 1.64286 6.24219 1.64286 6.93527C1.64286 8.37277 2.44289 9.89155 4.04297 11.4916L11.5 18.6791L18.9442 11.5045C20.5528 9.89583 21.3571 8.37277 21.3571 6.93527ZM23 6.93527C23 8.82626 22.0203 10.7515 20.0608 12.7109L12.0647 20.4118C11.9107 20.5658 11.7225 20.6429 11.5 20.6429C11.2775 20.6429 11.0893 20.5658 10.9353 20.4118L2.92634 12.6853C2.84077 12.6168 2.72098 12.5056 2.56696 12.3516C2.4215 12.1975 2.1862 11.9195 1.86105 11.5173C1.5359 11.1066 1.24498 10.6873 0.988281 10.2595C0.731585 9.83166 0.500558 9.31399 0.295201 8.70647C0.0984003 8.09896 0 7.50856 0 6.93527C0 5.05283 0.543341 3.5811 1.63002 2.52009C2.7167 1.45908 4.21838 0.92857 6.13505 0.92857C6.66555 0.92857 7.20461 1.02269 7.75223 1.21094C8.30841 1.39062 8.8218 1.63876 9.29241 1.95536C9.77158 2.26339 10.1823 2.55431 10.5246 2.82812C10.8668 3.10193 11.192 3.39286 11.5 3.70089C11.808 3.39286 12.1332 3.10193 12.4754 2.82812C12.8177 2.55431 13.2241 2.26339 13.6948 1.95536C14.1739 1.63876 14.6873 1.39062 15.2349 1.21094C15.7911 1.02269 16.3344 0.92857 16.865 0.92857C18.7816 0.92857 20.2833 1.45908 21.37 2.52009C22.4567 3.5811 23 5.05283 23 6.93527Z"></path></svg>
</span>
								 </a>
                              </li>
                             
                           
                           </ul>
                        </div>	
						
						
						
						
						
						
						
							
               <div class="product-name">
                  <a href="{{ product['href'] }}">
                  {% if (product['name'])|length < deluxe_limit_symbolst %}
                  {{ product['name'] }}
                  {% else %}
                  {{ (product['name']|slice(0, deluxe_limit_symbolst))~"..." }}
                  {% endif %}
                  </a>
               </div>




<div class="mmp2">
                 {% if (product['price']) %} 
                           <p class="price">
                              {% if (not product['special']) %} 
                              {{ product['price'] }} 
                              {% else %} 
                              <span class="price-old">{{ product['price'] }}</span><span class="price-new">{{ product['special'] }}</span>
                              {% endif %} 
                              {% if (product['tax']) %} 
                              <span class="price-tax">{{ text_tax }} {{ product['tax'] }}</span>
                              {% endif %} 
                           </p>
                           {% endif %} 


             
                        <div class="rating">
                           {% set i = 1 %}{% for i in i..5 %} 
                           {% if (product['rating'] < i) %} 
                           <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                           {% else %} 
                           <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
                           {% endif %} 
                           {% endfor %} 
                           <span class="reviews_qt">
                           <a onclick="location='{{ product['href'] }}#tab-review'"> ({{ product['reviews'] }})</a>
                           </span>
                        </div>
                     
  </div>

                        <div class="box_flex2 mmp">
                           {% if (product['price']) %} 
                           <p class="price">
                              {% if (not product['special']) %} 
                              {{ product['price'] }} 
                              {% else %} 
                              <span class="price-old">{{ product['price'] }}</span><span class="price-new">{{ product['special'] }}</span>
                              {% endif %} 
                              {% if (product['tax']) %} 
                              <span class="price-tax">{{ text_tax }} {{ product['tax'] }}</span>
                              {% endif %} 
                           </p>
                           {% endif %} 
						   
						   
                     
                        <div class="rating">
                           {% set i = 1 %}{% for i in i..5 %} 
                           {% if (product['rating'] < i) %} 
                           <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                           {% else %} 
                           <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
                           {% endif %} 
                           {% endfor %} 
                           <span class="reviews_qt">
                           <a onclick="location='{{ product['href'] }}#tab-review'"> ({{ product['reviews'] }})</a>
                           </span>
                        </div>
                   
                        </div>








                        <div class="box_flex2 fffr">
  
				             <div class = "additional-action22">
                                 <a onclick="compare.add('{{ product['product_id'] }}');" title="{{ button_compare }}">
                                 <i class="fa fa-fw fa-balance-scale"></i>
                                 </a>
                              </div>

 <div class = "additionalc">
		    <button type="button" onclick="cart.add('{{ product.product_id }}');"> <span class="fgh">{{ button_cart }}</span></button>
  </div>

                        </div>					
						
						



                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   {% endfor %}
</div>
<div class="row pag_res">
   <div class="col-sm-7 text-left">{{ pagination }}</div>
   <div class="col-sm-5 text-right">{{ results }}</div>
</div>
{% if (deluxe_showmore != 1) %}
<div id="load_more" style="display:none;">
   <div class="row text-center">
      <a href="#" class="load_more"> <i class="pr_spinner"></i> {{ pr_load_more }}</a>
   </div>
</div>
{% endif %}
{% endif %}
{% if (not categories and not products) %}
<p>{{ text_empty }}</p>
{% endif %}
<br />
{% if (deluxe_description_pg1 != 1) %}
{% if (page == 1) %}
{% if (deluxe_description_top_or_bot != 0) %}
{% if (thumb or description) %}
<div class="row desc-cat_top">
   {% if (thumb and not deluxe_categories_img) %}
   <div class="col-sm-2"><img src="{{ thumb }}" alt="{{ heading_title }}" title="{{ heading_title }}" class="img-thumbnail" /></div>
   {% endif %}
   {% if (description) %}
   {% if (deluxe_description_length != 1 and description|length > deluxe_categories_limit ) %}
   {% if (thumb and deluxe_categories_img != 1) %}
   <div class="cat_desc col-sm-10">
      {% else %}
      <div class="cat_desc col-sm-12">
         {% endif %}
         <div class="block_desc">
            {{ description }}
         </div>
         <a class="button_sh">{{ text_show_desc }}</a>
      </div>
      {% else %}
      {% if (thumb and deluxe_categories_img != 1) %}
      <div class="cat_desc col-sm-10">
         {% else %}
         <div class="cat_desc col-sm-12">{% endif %}{{ description }}</div>
         {% endif %}
         {% endif %}
      </div>
      {% endif %}
      {% endif %}
      {% endif %}
      {% else %}
      {% if (deluxe_description_top_or_bot != 0) %}
      {% if (thumb or description) %}
      <div class="row desc-cat_top">
         {% if (thumb and not deluxe_categories_img) %}
         <div class="col-sm-2"><img src="{{ thumb }}" alt="{{ heading_title }}" title="{{ heading_title }}" class="img-thumbnail" /></div>
         {% endif %}
         {% if (description) %}
         {% if (deluxe_description_length != 1 and description|length > deluxe_categories_limit ) %}
         {% if (thumb and deluxe_categories_img != 1) %}
         <div class="cat_desc col-sm-10">
            {% else %}
            <div class="cat_desc col-sm-12">
               {% endif %}
               <div class="block_desc">
                  {{ description }}
               </div>
               <a class="button_sh">{{ text_show_desc }}</a>
            </div>
            {% else %}
            {% if (thumb and deluxe_categories_img != 1) %}
            <div class="cat_desc col-sm-10">
               {% else %}
               <div class="cat_desc col-sm-12">{% endif %}{{ description }}</div>
               {% endif %}
               {% endif %}
            </div>
            {% endif %}
            {% endif %}
            {% endif %}
            {{ content_bottom }}
         </div>
         {{ column_right }}
      </div>
   </div>
</div>
{% if (deluxe_description_length != 1 and description|length > deluxe_categories_limit ) %}
<script>
   $(document).ready(function(){
   $('.button_sh').click(function(){
   $(this).toggleClass('active');
   $('.block_desc').toggleClass('opener');
   if (!$(this).data('status')) {
   $(this).data('status', true).html('{{ text_hide_desc }} <i class="btn_readmore2 fa fa-long-arrow-right"></i>');
   } else {
   $(this).data('status', false).html('{{ text_show_desc }} <i class="btn_readmore2 fa fa-long-arrow-right"></i>');
   }
   });
   });
</script>
{% endif %}
{% if (deluxe_showmore != 1) %}
<script>
   var pagination_exist = true;
   var button_more = true;
   var window_height = 0;
   var product_block_offset = 0;
   var product_block = '.product-layout_cat';
   var pages_count = 0;
   var pages = [];
   function gettNextProductPage(pages, pages_count) {
   if (pages_count >= pages.length) return;
   $.ajax({
   url:pages[pages_count],
   type:"GET",
   data:'',
   beforeSend: function(){
   $(".pr_spinner").addClass("fa fa-spinner fa-spin");
   $('.item_img').removeClass('item_img');
   },
   complete: function(){
   $(".item_img").brazzersCarousel();
   },
   success:function (data) {
   $data = $(data);
   if ($data) {
   if (localStorage.getItem('display') == 'list') {
   $(product_block).parent().append($data.find('.product-grid').parent().html());
   $('#list-view').trigger('click');
   if (product_block == '.product-grid') {$('#grid-view').trigger('click')};
   } else if (localStorage.getItem('display') == 'price') {
   $(product_block).parent().append($data.find('.product-grid').parent().html());
   $('#price-view').trigger('click');
   } else {
   $(product_block).parent().append($data.find('.product-grid').parent().html());
   $('#grid-view').trigger('click');
   }
   if (pagination_exist) {
   $('.pagination').html($data.find('.pagination'));
   }
   if (pages_count+1 >= pages.length) {$('.load_more').hide();};
   }
   $(".pr_spinner").removeClass("fa fa-spinner fa-spin");
   }
   });
   }
   $(document).ready(function(){
   window_height = $(window).height();
   var button_more_block = $('#load_more').html(); //
   var arrow_top = $('#arrow_top'); //
   if ($(product_block).length > 0) {
   product_block_offset = $(product_block).offset().top;
   var href = $('.pagination').find('li:last a').attr('href');
   $('.pagination').each(function(){
   if (href) {
   TotalPages = href.substring(href.indexOf("page=")+5);
   First_index = $(this).find('li.active span').html();
   i = parseInt(First_index) + 1;
   while (i <= TotalPages) {
   pages.push(href.substring(0,href.indexOf("page=")+5) + i);
   i++;
   }
   }
   });
   if (button_more && href) {
   $('.pagination').parent().parent().before(button_more_block);
   if (!pagination_exist) {
   $('.pagination').parent().parent().remove();
   } else {
   $('.pagination').parent().parent().find('.col-sm-6.text-right').remove();
   }
   $('.load_more').click( function(event) {
   event.preventDefault();
   gettNextProductPage(pages, pages_count);
   pages_count++;
   });
   } else if (href) {
   $('.pagination').parent().parent().hide();
   $(window).scroll(function(){
   product_block = getProductBlock();
   product_block_height = $(product_block).parent().height();
   if (pages.length > 0) {
   if((product_block_offset+product_block_height-window_height)<($(this).scrollTop())){
   getNextProductPage(pages, pages_count);
   pages_count++;
   }
   }
   });
   }
   }
   });
</script>
{% endif %}
{% if (autocalc_select_first) %}
<script>
   $('select[name^="option"] option[value=""]').remove();
   last_name = '';
   $('input[type="radio"][name^="option"]').each(function(){
   if ($(this).attr('name') != last_name) $(this).prop('checked', true);
   last_name = $(this).attr('name');
   });
   $('input[type="checkbox"][name^="option"]').each(function(){
   if ($(this).attr('name') != last_name) $(this).prop('checked', true);
   last_name = $(this).attr('name');
   });
</script>
{% endif %}
{{ footer }}
