
		
<div class="menu-component__header-top">


<a href="#" onclick="return false;" id="closemenu" class="closemenu x" data-uw-rm-brl="false" data-uw-rm-kbnav="click">×</a> 


<div class="menu-component__header-top-links"><a href="/help" class="help-link" data-uw-rm-brl="false"><span class="help-link--icon"></span>
                            Help
                        </a> 
						<a href="{{ wishlist }}" id="wishlist-total" class="liked-link"><i class="fa fa-heart"></i> <span class="sr-only">Liked</span> <span class="liked-link__circle">{{ text_wishlist }}</span></a></div></div>



  <!-- <li><a href="{{ wishlist }}" id="wishlist-total"><i class="fa fa-heart"></i> {{ text_wishlist }}</a></li> -->


<div class="button-row">
<a href="orderstatus" data-uw-rm-brl="false">Track Order</a> 
<a href="international-delivery" data-uw-rm-brl="false">Delivery Options</a> 
<a href="san-francisco-furniture-financing" data-uw-rm-brl="false">Financing</a>
</div>





		
<div class="menu-component__body">
<ul class="list-unstyled">
            {% for category in categories %}
            {% if (category['children']) %}		
<li><a href="{{ category['href'] }}"><img width="58" height="47" alt="" role="presentation" src="{{ category['image_main'] }}" class="img-responsive">
                              {{ category['name'] }}
                            </a></li>
		    {% endif %}
		  {% endfor %}
		  
</ul>
</div>	
		  
		  
		<script>
		
		
		
		$( "#closemenu" ).on( "click", function() {
slideout.close();
} );
		
		</script>
		