{{ header }}
<div class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }} showcase-list">{{ content_top }}
      <h1>{{ heading_title }}</h1>

      {% if articles %}
	  
	  
	  
	        <div class="row" style="display:none;">
        <div class="col-sm-3">
          <div class="btn-group">
            <button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="{{ text_list }}"><i class="fa fa-th-list"></i></button>
            <button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip" title="{{ text_grid }}"><i class="fa fa-th"></i></button>
          </div>
        </div>
        <div class="col-sm-1 col-sm-offset-2 text-right">
          <label class="control-label" for="input-sort">{{ text_sort }}</label>
        </div>
        <div class="col-sm-3 text-right">
         <select id="input-sort" class="form-control" onchange="location = this.value;">
              {% for sorts in sorts %}
              {% if sorts.value == '%s-%s'|format(sort, order) %}
              <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
              {% else %}
              <option value="{{ sorts.href }}">{{ sorts.text }}</option>
              {% endif %}
              {% endfor %}
            </select>
        </div>
        <div class="col-sm-1 text-right">
          <label class="control-label" for="input-limit">{{ text_limit }}</label>
        </div>
        <div class="col-sm-2 text-right">
          <select id="input-limit" class="form-control" onchange="location = this.value;">
              {% for limits in limits %}
              {% if limits.value == limit %}
              <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
              {% else %}
              <option value="{{ limits.href }}">{{ limits.text }}</option>
              {% endif %}
              {% endfor %}
            </select>
        </div>
      </div>
      <br />
	  

	  
	  
            <div class="row flex_height_row news_list">
               {% for article in articles %} 
               <!-- grid -->
               <div class="cat_heightflex product-layout product-layout_cat product-grid col-xs-12 col-sm-6 col-md-4 col-lg-4" style="display: flex;">
                  <div class="gtile-i-wrap">
                     <div class="product-thumb gtile-i_news">
                        <div class="image image_news">
                           <a href="{{ article['href'] }}" title="{{ article['title'] }}"><img src="{{ article['thumb'] }}" alt="{{ article['title'] }}" class="img-responsive" /></a>
                        </div>
                        <div>
                           <div class="item_news caption caption-left">
                                <div class="item-title">
                                 <div class="product-namenews"><a href="{{ article['href'] }}">{{ article['name'] }}</a></div>
                              </div>
                              <p class="newsdesc">{{ article['description'] }}</p>
                           </div>
                           <p class="newsall btn_readmore"> <a href="{{ article['href'] }}"> {{ button_more }}    <i class="btn_readmore2 fa fa-long-arrow-right"></i></a></p>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- grid END-->
               {% endfor %} 
            </div>		  
	  
	  
	  
	  
	  
	  
      <div class="row">
        <div class="col-sm-6 text-left">{{ pagination }}</div>
      </div>
      {% else %}
      <p>{{ text_empty }}</p>
      <div class="buttons">
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      </div>
      {% endif %}
	  	   {% if description %}
      <div class="row">

        {% if description %}
        <div class="col-sm-12">{{ description }}</div>
		{% endif %}
      </div>
      <hr>
	  {% endif %}
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}