{{ header }}
<div class="container">
   <ul class="breadcrumb">
      {% for i,breadcrumb in breadcrumbs %}
      <li>{% if (breadcrumbs|length > i+1 ) %}<a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a>{% else %}{{ breadcrumb['text'] }}{% endif %}</li>
      {% endfor %}
   </ul>
   <div class="row">
      {{ column_left }}
      {% if (column_left and column_right) %}
      {% set class = 'col-sm-6' %}
      {% elseif (column_left or column_right) %}
      {% set class = 'col-sm-9' %}
      {% else %}
      {% set class = 'col-sm-12' %}
      {% endif %}
      <div id="content" class="{{ class }}">
         {{ content_top }}
         <div class="box_contact_usp">
            <div class="col-xs-12 col-sm-4 contact_usp">
               <legend>{{ heading_title }}</legend>


<div class="cu-info">



<div class="cu-header">Avetex Furniture</div>
<div>6114 Geary Blvd.</div>
<div>San Francisco, CA 94121</div>
<div>(between 25th &amp; 26th Ave)</div>
<div class="cu-phone">
<div>Landline: 415.831.6529</div>
<div>Landline: 415.599.0202</div>

<div>Toll Free 888.228.3839</div>
<div>Fax: 415.831.6539</div></div>
<br>
<br>
<div class="cu-header">Business Hours<br></div>
<div>Monday - Saturday 11am - 6pm</div>
<div>Sunday - Closed</div>
</div>

            </div>
            <div class="col-xs-12 col-sm-8 contact_usp2">
               <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
                  <fieldset>
                     <legend>{{ text_contact }}</legend>
                     <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
                        <div class="col-sm-10">
                           <input type="text" name="name" value="{{ name }}" id="input-name" class="form-control" />
                           {% if (error_name) %}
                           <div class="text-danger">{{ error_name }}</div>
                           {% endif %}
                        </div>
                     </div>
                     <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-email">{{ entry_email }}</label>
                        <div class="col-sm-10">
                           <input type="text" name="email" value="{{ email }}" id="input-email" class="form-control" />
                           {% if (error_email) %}
                           <div class="text-danger">{{ error_email }}</div>
                           {% endif %}
                        </div>
                     </div>
                     <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-enquiry">{{ entry_enquiry }}</label>
                        <div class="col-sm-10">
                           <textarea name="enquiry" rows="10" id="input-enquiry" class="form-control">{{ enquiry }}</textarea>
                           {% if (error_enquiry) %}
                           <div class="text-danger">{{ error_enquiry }}</div>
                           {% endif %}
                        </div>
                     </div>
                     {{ captcha }}
                  </fieldset>
                  <div class="buttons">
                     <div class="pull-right">
                        <input class="btn btn-primary" type="submit" value="{{ button_submit }}" />
                     </div>
                  </div>
               </form>
            </div>
         </div>
         {% if (deluxe_contact_map == '0') %}
         <div class="mapcode">
            {{ deluxe_mapcode }}
         </div>
         {% endif %}
         {{ content_bottom }}
      </div>
      {{ column_right }}
   </div>
</div>
{{ footer }}
