<div class="title-module">{{ heading_title }}</div>
{% if (carusel != '1') %}
<div id="special-grid_mod">
   <div class="swipe_col1 flex_height_row row">
      {% for product in products %} 
      {% if ((product['special'] and product['special_date_end'] > product['special_date_start'])) %} 
      <div class="catb product-layout col-xs-12 col-md-6 ">
         <div class="gtile-i-wrap caption">
            <div class="col-xs-6 sp_one">
                {% if (deluxe_lazy) %} 
               <div class="image"><a href="{{ product['href'] }}"><img src ="{{ product['thumb'] }}" alt="{{ product['name'] }}" title="{{ product['name'] }}" class="img-responsive" width="{{ width }}" height="{{ height }}" /></a></div>
               {% else %} 
               <div class="image"><a href="{{ product['href'] }}"><img data-src ="{{ product['thumb'] }}" src="catalog/view/theme/deluxe/js/aridius/loader.svg" alt="{{ product['name'] }}" title="{{ product['name'] }}" class="lazyload img-responsive" width="{{ width }}" height="{{ height }}" /></a></div>
               {% endif %} 
               <div class="additional-links ">
                  <ul>
                     {% if (wish) %} 
                     <li class = "additional-action">
                        <a onclick="wishlist.add('{{ product['product_id'] }}');" title="{{ button_wishlist }}">
                        <i class="fa fa-heart"></i>
                        </a>
                     </li>
                     {% endif %} 
                     {% if (comp) %} 
                     <li class = "additional-action">
                        <a onclick="compare.add('{{ product['product_id'] }}');" title="{{ button_compare }}">
                        <i class="fa fa-fw fa-balance-scale"></i>
                        </a>
                     </li>
                     {% endif %} 
                     {% if (quickview) %} 
                     <li class = "additional-action">
                        <a onclick="quickview_open('{{ product['product_id'] }}');" title="{{ text_quickview }}">
                        <i class="fa fa-search"></i>
                        </a>
                     </li>
                     {% endif %} 
                  </ul>
               </div>
                  <div class="positionsticker">
                     <!-- special -->
                     {% if (deluxe_sticker_sale_product_auto != 1 and product['special'] and product['price_sticker'] != 0) %}
                     {% set percent = (100 - (product['special_sticker'] / product['price_sticker']) * 100)|round %}
                     {% endif %}
                     <!-- special END -->
                     <!-- new -->
                     {% set startDate1 = (product['dateadded']|slice(0, 10))|date('U') %}
                     {% set endDate2 = ("now"|date("Y/m/d"))|date('U') %}
                     {% set days = ((endDate2 / 86400)|round) - ((startDate1 / 86400)|round) %}
                     {% if (deluxe_sticker_new_product_auto != 1 and days < deluxe_sticker_product_new_day) %}
                     <div class="stickers-new">{{ deluxe_name_sticker_product_new[language_id] }}</div>
                     {% endif %}
                     <!-- new END -->
                     <!-- top -->
                     {% if (deluxe_sticker_top_product_auto != 1 and deluxe_sticker_product_top_ratinr == 1 and product['rating'] == deluxe_sticker_product_top_rating or deluxe_sticker_top_product_auto != 1 and deluxe_sticker_product_top_ratinr == 2 and product['viewed'] > deluxe_sticker_product_top_viewed ) %}
                     <div class="stickers-top">{{ deluxe_name_sticker_product_top[language_id] }}</div>
                     {% endif %}
                     <!-- top END -->
                     {% if (product['stickers2']) %}
                     {% for sticker2 in product['stickers2'] %}
                     <div class="stickers-all" style="color:{{ sticker2['color'] }};background:{{ sticker2['background'] }};">{{ sticker2['name'] }}</div>
                     {% endfor %}
                     {% endif %}
                  </div>
                  <div class="text_special2">{{ end_special2 }}</div>
                  <div class="special-timer-all">
                     <div class = "special-timere-zone">
                        <div id = "time_out_{{ product['product_id'] }}"></div>
                     </div>
                  </div>
                  <script><!--
                     function get_timer_{{ product['product_id'] }}() {
                     var countDownDate = new Date("{{ product['special_date_end'] }}").getTime();
                     var now = new Date().getTime();
                     var distance = countDownDate - now;
                     var day = Math.floor(distance / (1000 * 60 * 60 * 24));
                     var hour = Math.floor(((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)));
                     var min = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                     var sec = Math.floor((distance % (1000 * 60)) / 1000);
                     if(day<10)day='0'+day;
                     if(hour<10)hour='0'+hour;
                     if(min<10)min='0'+min;
                     if(sec<10)sec='0'+sec;
                     var timestr =  "<div class='countdown'><div class='day'><span class='num'>" +day+ "</span><span class='word'>{{ day }}</span></div><span class='special-timer-line'>:</span><div class='hour'><span class='num'>" +hour+ "</span><span class='word'>{{ hour }}</span></div><span class='special-timer-line'>:</span><div class='min'><span class='num'>" +min+ "</span><span class='word'>{{ minute }}</span></div><span class='special-timer-line sph'>:</span><div class='sec'><span class='num'>" +sec+ "</span><span class='word'>{{ second }}</span></div></div>";
                     document.getElementById('time_out_{{ product['product_id'] }}').innerHTML=timestr;
                     setTimeout(get_timer_{{ product['product_id'] }},1000);
                     }
                     get_timer_{{ product['product_id'] }}()
                     //-->
                  </script>
            </div>
            <div class="col-xs-6 sp_two">
              <div class="item_spec">
                  <div class="{% if (rat) %}raiting_thumb{% endif %} sp product-thumb">
                     <div class="box_spec">
                           <div class="product-name">
                              <a href="{{ product['href'] }}">
                              {% if (product['name'])|length < deluxe_limit_symbolst %}
                              {{ product['name'] }}
                              {% else %}
                              {{ (product['name']|slice(0, deluxe_limit_symbolst))~"..." }}
                              {% endif %}
                              </a>
                           </div>
                        {% if (rat) %} 
                        <div class="rating">
                           {% set i = 1 %}{% for i in i..5 %} 
                           {% if (product['rating'] < i) %} 
                           <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                           {% else %} 
                           <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
                           {% endif %} 
                           {% endfor %} 
						<span class="reviews_qt">
						 <a onclick="location='{{ product['href'] }}#tab-review'"><i class="fa fa-commenting-o" aria-hidden="true"></i> {{ product['reviews'] }}</a>
                        </span>
                        </div>
                        {% endif %} 
                        <div class="sp_description">
                           {{ product['description'] }} 
                        </div>
					    {% if (qt) %} 
                        <div class="id_st">
                           {{ text_availability }} 
                        </div>
                        <div class="progress">
                           <div class="progress-bar progress-bar-success" role="progressbar" style="width:{{ product['success'] }}%"></div>
                           <div class="progress-bar progress-bar-info" role="progressbar" style="width:{{ product['info'] }}%"></div>
                           <div class="progress-bar progress-bar-warning" role="progressbar" style="width:{{ product['warning'] }}%"></div>
                        </div>
                        {% endif %}	
						 <div class="sp_saleall">
                           <span class="sp_salename">{{ text_sale }}	</span> <span class="sp_salep">{{ product['special_difference'] }}</span>
                        </div>						
						<div class="clearfix"></div>
               <div class="box_flex2">
                  {% if (product['price']) %} 
                  <p class="price">
                     {% if (not product['special']) %} 
                     {{ product['price'] }} 
                     {% else %} 
                     <span class="price-old">{{ product['price'] }}</span><span class="price-new">{{ product['special'] }}</span>
                     {% endif %} 
                     {% if (product['tax']) %} 
                     <span class="price-tax">{{ text_tax }} {{ product['tax'] }}</span>
                     {% endif %} 
                  </p>
                  {% endif %} 
                  <div class="{% if (product['quantity'] <= 0 and aridiusinstock_status ) %}instockf{% endif %} cart">
                     {% if (product['quantity'] <= 0 and aridiusinstock_status ) %} 
                     <div class="snav snav_cart en">
                        <ul>
                           <li>
                              <a onclick="instock.add('{{ product['product_id'] }}');" data-product-id=" {{ product['product_id'] }}" data-toggle="tooltip" title="{{ button_instock }}" >
                                 <svg>
                                    <use xlink:href="catalog/view/theme/deluxe/image/cart.svg#shop_cart" x="0" y="0" width="25" height="25" />
                                 </svg>
                              </a>
                           </li>
                        </ul>
                     </div>
                     {% else %} 
                     <div class="snav snav_cart en">
                        <ul>
                           <li>
                              <a onclick="cart.add('{{ product['product_id'] }}', $(this).parent().parent().find('.quantity_input').val());">
                                 <svg>
                                    <use xlink:href="catalog/view/theme/deluxe/image/cart.svg#shop_cart" x="0" y="0" width="25" height="25" />
                                 </svg>
                                 <span class="cart_open">{{ button_cart }}</span>
                              </a>
                           </li>
                        </ul>
                     </div>
                     {% endif %} 
                  </div>
               </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      {% endif %} 
      {% endfor %} 
   </div>
   <div class="swipe_col2h center_more">
   <div id="load_more_sp" class="gridcount bestseller{{ module_id }}"><i class="gridcount_load fa fa-refresh fa-lg"></i><span class="gridcount2">{{ button_load }}</span></div>
</div>
</div>
<div class="clearfix"></div>
<script>
   var module_id = 1;
   var pr_allsp = {{ product_total }};
   var pr_lastsp = {{ last_page }};
   var pr_limitsp = {{ limit }};
   if (pr_limitsp >= pr_allsp ) {
   $('#load_more_sp').hide();
   }
   $('#load_more_sp').click(function() {
   module_id++;
   $.ajax({
   url:'index.php?route=extension/module/aridius_special/loadMore',
   type: 'post',
   data: 'page=' +  module_id + '&module_id={{ module_id }}&setting={{ setting }}',
   dataType: 'html',
   beforeSend: function() {
   $('#load_more_sp .gridcount_load').addClass("fa-spinner");
   },
   complete: function() {
   $('#load_more_sp .gridcount_load').removeClass("fa-spinner");
   },
   success:function (data) {
   $('#special-grid_mod .swipe_col1').append($(data).find('.product-layout '));
   if (module_id == pr_lastsp) {
   $('#load_more_sp').hide();
   }
   }
   });
   });
</script>

<script>
(function() {
  var onResizeProducts = function(event) {
    if (this.innerWidth <= 992) {
      $("#load_more_sp").click();
      $(window).unbind('resize', onResizeProducts);
    }
  };

  $(window).bind('resize', onResizeProducts);
})();
</script>
{% else %}
<div id="special-grid_mod" class="ico_wall">
   <div id="special_carusel{{ module }}" class="swiper-container">
      <div class="swiper-wrapper">
         {% for product in products %}
         {% if ((product['special'] and product['special_date_end'] > product['special_date_start'])) %}
         <div class="swiper-slide product-layout_carusel catb">
            <div class="gtile-i-wrap caption">
               <div class="col-xs-12 col-sm-6 sp_two">
                  <div class="image"><a href="{{ product['href'] }}"><img data-src="{{ product['thumb'] }}" alt="{{ product['name'] }}" title="{{ product['name'] }}" class="swiper-lazy img-responsive" width="{{ width }}" height="{{ height }}" /></a></div>
                  <div class="swiper-lazy-preloader"></div>
                  <div class="additional-links ">
                     <ul>
                        {% if (wish) %}
                        <li class = "additional-action">
                           <a onclick="wishlist.add('{{ product['product_id'] }}');" title="{{ button_wishlist }}">
                           <i class="fa fa-heart"></i>
                           </a>
                        </li>
                        {% endif %}
                        {% if (comp) %}
                        <li class = "additional-action">
                           <a onclick="compare.add('{{ product['product_id'] }}');" title="{{ button_compare }}">
                           <i class="fa fa-fw fa-balance-scale"></i>
                           </a>
                        </li>
                        {% endif %}
                        {% if (quickview) %}
                        <li class = "additional-action">
                           <a onclick="quickview_open('{{ product['product_id'] }}');" title="{{ text_quickview }}">
                           <i class="fa fa-search"></i>
                           </a>
                        </li>
                        {% endif %}
                     </ul>
                  </div>
                  <div class="positionsticker">
                     <!-- special -->
                     {% if (deluxe_sticker_sale_product_auto != 1 and product['special'] and product['price_sticker'] != 0) %}
                     {% set percent = (100 - (product['special_sticker'] / product['price_sticker']) * 100)|round %}
                     {% endif %}
                     <!-- special END -->
                     <!-- new -->
                     {% set startDate1 = (product['dateadded']|slice(0, 10))|date('U') %}
                     {% set endDate2 = ("now"|date("Y/m/d"))|date('U') %}
                     {% set days = ((endDate2 / 86400)|round) - ((startDate1 / 86400)|round) %}
                     {% if (deluxe_sticker_new_product_auto != 1 and days < deluxe_sticker_product_new_day) %}
                     <div class="stickers-new">{{ deluxe_name_sticker_product_new[language_id] }}</div>
                     {% endif %}
                     <!-- new END -->
                     <!-- top -->
                     {% if (deluxe_sticker_top_product_auto != 1 and deluxe_sticker_product_top_ratinr == 1 and product['rating'] == deluxe_sticker_product_top_rating or deluxe_sticker_top_product_auto != 1 and deluxe_sticker_product_top_ratinr == 2 and product['viewed'] > deluxe_sticker_product_top_viewed ) %}
                     <div class="stickers-top">{{ deluxe_name_sticker_product_top[language_id] }}</div>
                     {% endif %}
                     <!-- top END -->
                     {% if (product['stickers2']) %}
                     {% for sticker2 in product['stickers2'] %}
                     <div class="stickers-all" style="color:{{ sticker2['color'] }};background:{{ sticker2['background'] }};">{{ sticker2['name'] }}</div>
                     {% endfor %}
                     {% endif %}
                  </div>
                  <div class="text_special2">{{ end_special2 }}</div>
                  <div class="special-timer-all">
                     <div class = "special-timere-zone">
                        <div id = "time_out_{{ product['product_id'] }}"></div>
                     </div>
                  </div>
                  <script><!--
                     function get_timer_{{ product['product_id'] }}() {
                     var countDownDate = new Date("{{ product['special_date_end'] }}").getTime();
                     var now = new Date().getTime();
                     var distance = countDownDate - now;
                     var day = Math.floor(distance / (1000 * 60 * 60 * 24));
                     var hour = Math.floor(((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)));
                     var min = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                     var sec = Math.floor((distance % (1000 * 60)) / 1000);
                     if(day<10)day='0'+day;
                     if(hour<10)hour='0'+hour;
                     if(min<10)min='0'+min;
                     if(sec<10)sec='0'+sec;
                     var timestr =  "<div class='countdown'><div class='day'><span class='num'>" +day+ "</span><span class='word'>{{ day }}</span></div><span class='special-timer-line'>:</span><div class='hour'><span class='num'>" +hour+ "</span><span class='word'>{{ hour }}</span></div><span class='special-timer-line'>:</span><div class='min'><span class='num'>" +min+ "</span><span class='word'>{{ minute }}</span></div><span class='special-timer-line sph'>:</span><div class='sec'><span class='num'>" +sec+ "</span><span class='word'>{{ second }}</span></div></div>";
                     document.getElementById('time_out_{{ product['product_id'] }}').innerHTML=timestr;
                     setTimeout(get_timer_{{ product['product_id'] }},1000);
                     }
                     get_timer_{{ product['product_id'] }}()
                     //-->
                  </script>
               </div>
               <div class="col-xs-12 col-sm-6  sp_one">
                  <div class="item_spec">
                     <div class="{% if (rat) %}raiting_thumb{% endif %} sp product-thumb">
                        <div class="box_spec">
                           <div class="product-name">
                              <a href="{{ product['href'] }}">
                              {% if (product['name'])|length < deluxe_limit_symbolst %}
                              {{ product['name'] }}
                              {% else %}
                              {{ (product['name']|slice(0, deluxe_limit_symbolst))~"..." }}
                              {% endif %}
                              </a>
                           </div>
                           {% if (rat) %}
                           <div class="rating">
                              {% set i = 1 %}{% for i in i..5 %}
                              {% if (product['rating'] < i) %}
                              <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                              {% else %}
                              <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
                              {% endif %}
                              {% endfor %}
                              <span class="reviews_qt">
                              <a onclick="location='{{ product['href'] }}#tab-review'"><i class="fa fa-commenting-o" aria-hidden="true"></i> {{ product['reviews'] }}</a>
                              </span>
                           </div>
                           {% endif %}
                           <div class="sp_description">
                              {{ product['description'] }}
                           </div>
                           {% if (qt) %}
                           <div class="id_st">
                              {{ text_availability }}
                           </div>
                           <div class="progress">
                              <div class="progress-bar progress-bar-success" role="progressbar" style="width:{{ product['success'] }}%"></div>
                              <div class="progress-bar progress-bar-info" role="progressbar" style="width:{{ product['info'] }}%"></div>
                              <div class="progress-bar progress-bar-warning" role="progressbar" style="width:{{ product['warning'] }}%"></div>
                           </div>
                           {% endif %}
                           <div class="sp_saleall">
                              <span class="sp_salename">{{ text_sale }}	</span> <span class="sp_salep">{{ product['special_difference'] }}</span>
                           </div>
                           <div class="clearfix"></div>
                           <div class="box_flex2">
                              {% if (product['price']) %}
                              <p class="price">
                                 {% if (not product['special']) %}
                                 {{ product['price'] }}
                                 {% else %}
                                 <span class="price-old">{{ product['price'] }}</span><span class="price-new">{{ product['special'] }}</span>
                                 {% endif %}
                                 {% if (product['tax']) %}
                                 <span class="price-tax">{{ text_tax }} {{ product['tax'] }}</span>
                                 {% endif %}
                              </p>
                              {% endif %}
                              <div class="{% if (product['quantity'] <= 0 and aridiusinstock_status ) %}instockf{% endif %} cart">
                                 {% if (product['quantity'] <= 0 and aridiusinstock_status ) %}
                                 <div class="snav snav_cart en">
                                    <ul>
                                       <li>
                                          <a onclick="instock.add('{{ product['product_id'] }}');" data-product-id=" {{ product['product_id'] }}" data-toggle="tooltip" title="{{ button_instock }}" >
                                             <svg>
                                                <use xlink:href="catalog/view/theme/deluxe/image/cart.svg#shop_cart" x="0" y="0" width="25" height="25" />
                                             </svg>
                                          </a>
                                       </li>
                                    </ul>
                                 </div>
                                 {% else %}
                                 <div class="snav snav_cart en">
                                    <ul>
                                       <li>
                                          <a onclick="cart.add('{{ product['product_id'] }}', $(this).parent().parent().find('.quantity_input').val());">
                                             <svg>
                                                <use xlink:href="catalog/view/theme/deluxe/image/cart.svg#shop_cart" x="0" y="0" width="25" height="25" />
                                             </svg>
                                             <span class="cart_open">{{ button_cart }}</span>
                                          </a>
                                       </li>
                                    </ul>
                                 </div>
                                 {% endif %}
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         {% endif %}
         {% endfor %}
      </div>
      {% if (navigation) %}
      <div class="#special_carusel{{ module }} swiper-button-next"><i class="fa fa-chevron-right fa-5x"></i></div>
      <div class="#special_carusel{{ module }} swiper-button-prev"><i class="fa fa-chevron-left fa-5x"></i></div>
      {% endif %}
   </div>
</div>
<script><!--
   $(document).ready(function () {
   var ocSwiper = new Swiper('#special_carusel{{ module }}.swiper-container', {
   // Enable lazy loading
   lazy: {
   loadPrevNext: true,
   loadPrevNextAmount: 5,
   },
   slidesPerView: {{ items }},
   mode: 'horizontal',
   pagination: false,
   spaceBetween: 30,
   speed: {{ rew_speed }},
   {% if (autoplay_on) %}
   autoplay: {delay: {{ autoplay }}},
   autoplayDisableOnInteraction: true,
   {% endif %}
   breakpoints: {
   768: {
   slidesPerView: 1,
   },
   992: {
   slidesPerView: 1,
   },
   1200: {
   slidesPerView: 2,
   },
   1600: {
   slidesPerView: 2,
   }
   },
   {% if (navigation) %}
   navigation: {
   nextEl: '#special_carusel{{ module }} .swiper-button-next',
   prevEl: '#special_carusel{{ module }} .swiper-button-prev',
   },
   {% endif %}
   });
   {% if (stophover and autoplay_on) %}
   $("#special_carusel{{ module }}.swiper-container").hover(function() {
   ocSwiper.autoplay.stop();
   }, function() {
   ocSwiper.autoplay.start();
   });
   {% endif %}
   });
   -->
</script>
{% endif %}
