<div class="ls_tips_title ls_bestSellers_title">
            <h2 class="ls_hp_title">Must-Read Tips</h2>
            <a class="tips_all" href="111" data-uw-rm-brl="false">View More</a>
        </div>








<div class="row">
 {% for key,article in articles %}
  <div class="product-layout bbbl col-lg-3 col-md-3 col-sm-6 col-xs-6 hhhn_{{ key }}">
    <div class="product-thumb transition bbbl2">
      <div class="image"><a href="{{ article.href }}"><img src="{{ article.thumb }}" alt="{{ article.name }}" title="{{ article.name }}" class="img-responsive" /></a></div>
      <div class="caption">
        <h4><a href="{{ article.href }}">{{ article.name }}</a></h4>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
