{{ header }}{{ column_left }} 
<div id="content">
   <div class="page-header">
      <div class="container-fluid">
         <div class="pull-right">
            <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_module }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
         </div>
         <h1>{{ heading_title }}</h1>
         <ul class="breadcrumb">
            {% for breadcrumb in breadcrumbs %} 
            <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
            {% endfor %} 
         </ul>
      </div>
   </div>
   <div class="container-fluid">
      {% if (error_warning) %} 
      <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }} 
         <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
      {% endif %} 
      {% if (success) %} 
      <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }} 
         <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
      {% endif %} 
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-list"></i> {{ heading_title }}</h3>
         </div>
         <div class="panel-body">
            <div class="well">
               <div class="row">
                  <div class="col-sm-4">
                     <div class="form-group">
                        <label class="control-label" for="input-order-id">{{ text_order_id }}</label>
                        <input type="text" name="filter_order_id" value="{{ filter_order_id }}" id="input-order-id" class="form-control" />
                     </div>
                     <div class="form-group">
                        <label class="control-label" for="input-contact">{{ text_contact }}</label>
                        <input type="text" name="filter_contact" value="{{ filter_contact }}"  id="input-contact" class="form-control" />
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="form-group">
                        <label class="control-label" for="input-firstname">{{ text_firstname }}</label>
                        <input type="text" name="filter_firstname" value="{{ filter_firstname }}"  id="input-firstname" class="form-control" />
                     </div>
                     <div class="form-group">
                        <label class="control-label" for="input-total">{{ text_total }}</label>
                        <input type="text" name="filter_total" value="{{ filter_total }}"  id="input-total" class="form-control" />
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="form-group">
                        <label class="control-label" for="input-product_name">{{ text_product_name }}</label>
                        <input type="text" name="filter_product_name" value="{{ filter_product_name }}"  id="input-product_name" class="form-control" />
                     </div>
                     <div class="form-group">
                        <label class="control-label" for="input-date-added">{{ text_date_added }}</label>
                        <div class="input-group date">
                           <input type="text" name="filter_date_added" value="{{ filter_date_added }}" data-date-format="YYYY-MM-DD" id="input-date-added" class="form-control" />
                           <span class="input-group-btn">
                           <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                           </span>
                        </div>
                     </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="col-sm-12">
                     <button onclick="filter();" type="button" id="button-filter" class="btn btn-primary pull-right"><i class="fa fa-search"></i> {{ button_filter }}</button>
                  </div>
               </div>
            </div>
            <div class="pull-right">
               <a onclick="$('#form').attr('action', '{{ delete }}');$('#form').attr('target', '_self');$('#form').submit();" class="btn btn-danger">{{ button_delete }} <i class="fa fa-trash-o"></i></a>
            </div>
            <br /><br /><br />    
            <div class="clearfix">   </div>
            <form action="" method="post" enctype="multipart/form-data" id="form">
               <div class="table-responsive">
                  <table class="table table-bordered table-hover">
                     <thead>
                        <tr>
                           <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                           <td class="right">{% if (sort == 'order_id') %} 
                              <a href="{{ sort_order }}" class="{{ order|lower }}">{{ text_order_id }}</a>
                              {% else %} 
                              <a href="{{ sort_order }}">{{ text_order_id }}</a>
                              {% endif %}
                           </td>
                           <td class="right">{% if (sort == 'contact') %} 
                              <a href="{{ sort_contact }}" class="{{ order|lower }}">{{ text_contact }}</a>
                              {% else %} 
                              <a href="{{ sort_contact }}">{{ text_contact }}</a>
                              {% endif %}
                           </td>
                           <td class="right">{% if (sort == 'firstname') %} 
                              <a href="{{ sort_firstname }}" class="{{ order|lower }}">{{ text_firstname }}</a>
                              {% else %} 
                              <a href="{{ sort_firstname }}">{{ text_firstname }}</a>
                              {% endif %}
                           </td>
                           <td class="right">{% if (sort == 'email') %} 
                              <a href="{{ sort_email }}" class="{{ order|lower }}">{{ text_email }}</a>
                              {% else %} 
                              <a href="{{ sort_email }}">{{ text_email }}</a>
                              {% endif %}
                           </td>
                          
                           <td class="right">{{ text_comment }}</td>
                           <td class="right">{{ text_comment_manager }}</td>
                           <td class="right">{% if (sort == 'product_name') %} 
                              <a href="{{ sort_product_name }}" class="{{ order|lower }}">{{ text_product_name }}</a>
                              {% else %} 
                              <a href="{{ sort_product_name }}">{{ text_product_name }}</a>
                              {% endif %}
                           </td>
                           <td class="right">{% if (sort == 'quantity') %} 
                              <a href="{{ sort_quantity }}" class="{{ order|lower }}">{{ text_quantity }}</a>
                              {% else %} 
                              <a href="{{ sort_quantity }}">{{ text_quantity }}</a>
                              {% endif %}
                           </td>
                           <td class="right">{{ text_product_option }}</td>
                           <td class="right">{% if (sort == 'total') %} 
                              <a href="{{ sort_total }}" class="{{ order|lower }}">{{ text_total }}</a>
                              {% else %} 
                              <a href="{{ sort_total }}">{{ text_total }}</a>
                              {% endif %}
                           </td>
                           <td class="right">{% if (sort == 'status') %} 
                              <a href="{{ sort_status }}" class="{{ order|lower }}">{{ text_status }}</a>
                              {% else %} 
                              <a href="{{ sort_status }}">{{ text_status }}</a>
                              {% endif %}
                           </td>
                           <td class="left">{% if (sort == 'date_added') %} 
                              <a href="{{ sort_date_added }}" class="{{ order|lower }}">{{ text_date_added }}</a>
                              {% else %} 
                              <a href="{{ sort_date_added }}">{{ text_date_added }}</a>
                              {% endif %}
                           </td>
                           <td class="right">{{ text_action }}</td>
                        </tr>
                     </thead>
                     <tbody>
                        {% if (orders) %} 
                        {% for order in orders %} 
                        <tr>
                           <td class="text-center">{% if (order['selected']) %} 
                              <input type="checkbox" name="selected[]" value="{{ order['order_id'] }}" checked="checked" />
                              {% else %} 
                              <input type="checkbox" name="selected[]" value="{{ order['order_id'] }}" />
                              {% endif %}
                           </td>
                           <td class="text-center">{{ order['order_id'] }}</td>
                           <td class="text-left">{{ order['contact'] }}</td>
                           <td class="text-left">{{ order['firstname'] }}</td>
                           <td class="text-left">{{ order['email'] }}</td>
                       
                           <td class="text-left">{{ order['comment'] }}</td>
                           <td class="text-left">{{ order['comment_manager'] }}</td>
                           <td class="text-left"><a href="{{ order['product_href'] }}" target="_blank">{{ order['product_name'] }}</a></td>
                           <td class="text-left">{{ order['quantity'] }}</td>
                           <td class="text-left">{{ order['format_option'] }}</td>
                           <td class="text-left">{{ order['total'] }} {{ order['currency_code'] }}</td>
                           <td class="text-left">
                              {% if (order['status'] < 1) %} 
                              {{ text_wait }} 
                              {% elseif (order['status'] == 1) %}
                              {{ text_complete }}{% endif %} 
                           </td>
                           <td class="text-left">{{ order['date_added'] }}</td>
                           <td class="text-center">{% for action in order['action'] %} 
                              <a href="{{ order['edit'] }}" data-toggle="tooltip" title="{{ title_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>							
                              {% endfor %}
                           </td>
                        </tr>
                        {% endfor %} 
                        {% else %} 
                        <tr>
                           <td class="center" colspan="7">{{ text_no_results }}</td>
                        </tr>
                        {% endif %} 
                     </tbody>
                  </table>
               </div>
            </form>
            <div class="row">
               <div class="col-sm-6 text-left">{{ pagination }}</div>
               <div class="col-sm-6 text-right">{{ results }}</div>
            </div>
         </div>
      </div>
   </div>
</div>
<script><!--
   function filter() {
   	url = 'index.php?route=catalog/aridiusundersell&user_token={{ user_token }}';
   	var filter_order_id = $('input[name=\'filter_order_id\']').val();
   	if (filter_order_id) {
   		url += '&filter_order_id='+encodeURIComponent(filter_order_id);
   	}
   	var filter_contact = $('input[name=\'filter_contact\']').val();
   	if (filter_contact) {
   		url += '&filter_contact='+encodeURIComponent(filter_contact);
   	}
   	var filter_firstname = $('input[name=\'filter_firstname\']').val();
   	if (filter_firstname) {
   		url += '&filter_firstname='+encodeURIComponent(filter_firstname);
   	}
   	var filter_product_name = $('input[name=\'filter_product_name\']').val();
   	if (filter_product_name) {
   		url += '&filter_product_name='+encodeURIComponent(filter_product_name);
   	}
   	var filter_total = $('input[name=\'filter_total\']').val();
   	if (filter_total) {
   		url += '&filter_total='+encodeURIComponent(filter_total);
   	}
   	var filter_date_added = $('input[name=\'filter_date_added\']').val();
   	if (filter_date_added) {
   		url += '&filter_date_added=' + encodeURIComponent(filter_date_added);
   	}
   	location = url;
   }
   //-->
</script>
<script><!--
   $('#form input').keydown(function (e) {
   	if (e.keyCode==13) {
   		filter();
   	}
   });
   //-->
</script>
<script><!--
   $('input[name=\'filter_product_name\']').autocomplete({
   	'source': function(request, response) {
   		$.ajax({
   url: 'index.php?route=extension/module/aridiusundersell_customer/autocomplete&user_token={{ user_token }}&filter_product_name=' +  encodeURIComponent(request),
   dataType: 'json',
   success: function(json) {
   				response($.map(json, function(item) {
   					return {
   label: item['name'],
   value: item['product_id']
   					}
   				}));
   			}
   		});
   	},
   	'select': function(item) {
   		$('input[name=\'filter_product_name\']').val(item['label']);
   	}
   });
   //-->
</script>
<script src="view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js"></script>
<link href="view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css" type="text/css" rel="stylesheet" media="screen" />
<script><!--
   $('.date').datetimepicker({
   pickTime: false
   });
   //-->
</script>
{{ footer }}
