{{ header }}{{ column_left }}
<div id="content">
   <div class="page-header">
      <div class="container-fluid">
         <div class="pull-right">
            <button type="submit" form="form-aridius_messenger" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;&nbsp;{{ button_save }}</button>
            <a onclick="apply();" class="btn btn-primary" data-toggle="tooltip" title="{{ button_apply }}" ><i class="fa fa-check"></i>&nbsp;&nbsp;{{ button_apply }}</a>
            <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
         </div>
         <h1>{{ heading_title }}</h1>
         <ul class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
            <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
            {% endfor %}
         </ul>
      </div>
   </div>
   <div class="container-fluid">
      {% if (error_warning) %}
      <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
         <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
      {% endif %}
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
         </div>
         <div class="panel-body">
            <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-aridius_messenger" class="form-horizontal">
               <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-main">{{ text_link_top_main }}</label>
                  <div class="col-sm-10"><a href="" id="thumb-main" data-toggle="image" class="img-thumbnail"><img src="{{ main }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
                     <input type="hidden" name="module_aridiusmessenger_mailnamemain" value="{{ module_aridiusmessenger_mailnamemain }}" id="input-main" />
                  </div>
               </div>
               <legend>{{ text_legend }}</legend>
               <div class="row">
                  <div class="col-sm-2">
                     <ul class="nav nav-pills nav-stacked" id="top_link">
                        {% set top_link_row = 1 %}
                        {% for top_link in top_links %}
                        <li><a href="#tab-top_link-{{ top_link_row }}" data-toggle="tab"><i class="fa fa-minus-circle" onclick="$('a[href=\'#tab-top_link-{{ top_link_row }}\']').parent().remove(); $('#tab-top_link-{{ top_link_row }}').remove(); $('#top_link a:first').tab('show');"></i> {{ tab_top_link ~ ' ' ~ top_link_row }}</a></li>
                        {% set top_link_row = top_link_row + 1 %}
                        {% endfor %}
                        <li id="top_link-add"><a onclick="addtop_link();"><i class="fa fa-plus-circle"></i> {{ text_add_top_link }}</a></li>
                     </ul>
                  </div>
                  <div class="col-sm-10 them">
                     <div class="tab-content first7">
                        {% set top_link_row = 1 %}
                        {% for top_link in top_links %}
                        <div class="tab-pane" id="tab-top_link-{{ top_link_row }}">
                           <div class="tab-content">
                              <div class="form-group">
                                 <label class="col-sm-2 control-label" >{{ text_name_top_add_tabs }}</label>
                                 <div class="col-sm-10 them">
                                    {% for language in languages %}
                                    <div class="input-group">
                                       <span class="input-group-addon"><img src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}" /></span>
                                       <input type="text" class="form-control" name="module_aridiusmessenger_top_links[{{ top_link_row }}][title][{{ language['language_id'] }}]" value="{{ top_link['title'][language['language_id']] is defined ? top_link['title'][language['language_id']] : '' }}" size="70" />
                                    </div>
                                    {% endfor %}
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="col-sm-2 control-label" >{{ text_faicons_icons }}</label>
                                 <div class="col-sm-10 them">
                                    <input type="text" class="form-control" name="module_aridiusmessenger_top_links[{{ top_link_row }}][href]" value="{{ top_link['href'] is defined ? top_link['href'] : '' }}" />
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="col-sm-2 control-label" for="input-block_img{{ top_link_row }}">{{ text_link_top }}</label>
                                 <div class="col-sm-10 them">
                                    <a href="" id="thumb-block_img{{ top_link_row }}" data-toggle="image" class="img-thumbnail"><img src="{{ top_link['image_href'] }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
                                    <input type="hidden" name="module_aridiusmessenger_top_links[{{ top_link_row }}][image]" value="{{ top_link['image'] }}" id="input-block_img{{ top_link_row }}" />
                                 </div>
                              </div>
                           </div>
                           {% set top_link_row = top_link_row + 1 %}
                        </div>
                        {% endfor %}
                     </div>
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-mailstatus">{{ text_mailstatus }}</label>
                  <div class="col-sm-10 them">
                     <label class="radio-inline">
                     {% if (module_aridiusmessenger_mailstatus) %}
                     <input class="options_none" type="radio" name="module_aridiusmessenger_mailstatus" value="1" checked="checked" />
                     <span class="im_option">{{ text_yes }}</span>
                     {% else %}
                     <input class="options_none" type="radio" name="module_aridiusmessenger_mailstatus" value="1" />
                     <span class="im_option">{{ text_yes }}</span>
                     {% endif %}
                     </label>
                     <label class="radio-inline">
                     {% if (not module_aridiusmessenger_mailstatus) %}
                     <input class="options_none" type="radio" name="module_aridiusmessenger_mailstatus" value="0" checked="checked" />
                     <span class="im_option">{{ text_no }}</span>
                     {% else %}
                     <input class="options_none" type="radio" name="module_aridiusmessenger_mailstatus" value="0" />
                     <span class="im_option">{{ text_no }}</span>
                     {% endif %}
                     </label>
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-2 control-label">{{ text_name_call }}</label>
                  <div class="col-sm-10 them">
                     {% for language in languages %}
                     <div class="input-group">
                        <span class="input-group-addon">
                        <img src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}" />
                        </span>
                        <input name="module_aridiusmessenger_mailname[{{ language['language_id'] }}]" value="{{ module_aridiusmessenger_mailname[language['language_id']] is defined ? module_aridiusmessenger_mailname[language['language_id']] : '' }}" class="form-control" />
                     </div>
                     {% endfor %}
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-mail">{{ text_link_top }}</label>
                  <div class="col-sm-10"><a href="" id="thumb-mail" data-toggle="image" class="img-thumbnail"><img src="{{ mail }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
                     <input type="hidden" name="module_aridiusmessenger_mail" value="{{ module_aridiusmessenger_mail }}" id="input-mail" />
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-module_aridiusmessenger_status">{{ entry_status }}</label>
                  <div class="col-sm-10 them">
                     <select name="module_aridiusmessenger_status" id="input-module_aridiusmessenger_status" class="form-control">
                        {% if (module_aridiusmessenger_status) %}
                        <option value="1" selected="selected">{{ text_enabled }}</option>
                        <option value="0">{{ text_disabled }}</option>
                        {% else %}
                        <option value="1">{{ text_enabled }}</option>
                        <option value="0" selected="selected">{{ text_disabled }}</option>
                        {% endif %}
                     </select>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
<script><!--
   $('#top_link li:first-child a').tab('show');
   //-->
</script>
<script><!--
   var top_link_row = {{ top_link_row }};
   function addtop_link() {
   group_row = 0;
   html  = '<div class="tab-pane" id="tab-top_link-' + top_link_row + '">';
   html += '<div class="tab-content">';
   html += '<div class="form-group">';
   html += '<label class="col-sm-2 control-label" >{{ text_name_top_add_tabs }}</label>';
   html += '<div class="col-sm-10">';
   {% for language in languages %}
   html += '<div class="input-group">';
   html += '<span class="input-group-addon"><img src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}" /></span>';
   html += '<input type="text" class="form-control" name="module_aridiusmessenger_top_links[' + top_link_row + '][title][{{ language['language_id'] }}]" size="70" />';
   html += '</div>';
   {% endfor %}
   html += '</div>';
   html += '</div>';
   html += '<div class="form-group">';
   html += '<label class="col-sm-2 control-label" >{{ text_faicons_icons }}</label>';
   html += '<div class="col-sm-10">';
   html += '<input type="text" class="form-control" name="module_aridiusmessenger_top_links[' + top_link_row + '][href]" />';
   html += '</div>';
   html += '</div>';
   html += '<div class="form-group">';
   html += '<label class="col-sm-2 control-label" for="input-block_img' + top_link_row + '">{{ text_link_top }}</label>';
   html += '<div class="ol-sm-10"><a href="" id="thumb-block_img' + top_link_row + '" data-toggle="image" class="img-thumbnail"><img src="{{ placeholder }}" alt="" title="" /></a>';
   html += '<input type="hidden" name="module_aridiusmessenger_top_links[' + top_link_row + '][image]" value="" id="input-block_img' + top_link_row + '" />';
   html += '</div>';
   html += '</div>';
   html += '</div>';
   $('.tab-content.first7').append(html);
   $('#top_link-add').before('<li><a href="#tab-top_link-' + top_link_row + '" data-toggle="tab"><i class="fa fa-minus-circle" onclick="$(\'a[href=\\\'#tab-top_link-' + top_link_row + '\\\']\').parent().remove(); $(\'#tab-top_link-' + top_link_row + '\').remove(); $(\'#top_link a:first\').tab(\'show\');"></i> {{ tab_top_link }} ' + top_link_row + '</a></li>');
   $('#top_link a[href=\'#tab-top_link-' + top_link_row + '\']').tab('show');
   top_link_row++;
   }
   //-->
</script>
<script><!--
   $('#language a:first').tab('show');
   $('#option a:first').tab('show');
   //-->
</script>
<script><!--
   function apply() {
   $('#form-aridius_messenger').append('<input type="hidden" id="apply" name="apply" value="1" />');
   $('#form-aridius_messenger').submit();
   }
   //-->
</script>
{{ footer }}
