{{ header }}{{ column_left }} 
<div id="content">
   <div class="page-header">
      <div class="container-fluid">
         <div class="pull-right">
            <button type="submit" form="form-products" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;&nbsp;{{ button_save }}</button>
            <a onclick="apply();" class="btn btn-primary" data-toggle="tooltip" title="{{ button_apply }}" ><i class="fa fa-check"></i>&nbsp;&nbsp;{{ button_apply }}</a>
            <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
         </div>
         <h1>{{ heading_title }}</h1>
         <ul class="breadcrumb">
            {% for breadcrumb in breadcrumbs %} 
            <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
            {% endfor %} 
         </ul>
      </div>
   </div>
   <div class="container-fluid">
      {% if (error_warning) %} 
      <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }} 
         <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
      {% endif %} 
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
         </div>
         <div class="panel-body">
            <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-products" class="form-horizontal">
               <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
                  <div class="col-sm-10 them">
                     <input type="text" name="name" value="{{ name }}" id="input-name" class="form-control" />
                     {% if (error_name) %} 
                     <div class="text-danger">{{ error_name }}</div>
                     {% endif %} 
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-2 control-label">{{ text_name_pr }}</label>
                  <div class="col-sm-10 them">
                     {% for language in languages %} 
                     <div class="input-group">
                        <span class="input-group-addon">
                        <img src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}" />
                        </span>
                        <input name="name_pr[{{ language['language_id'] }}]"
                           value="{{ name_pr[language['language_id']] is defined ? name_pr[language['language_id']] : '' }}" class="form-control"/>
                     </div>
                     {% endfor %} 
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-2 control-label" >{{ text_modules }}</label>
                  <div class="col-sm-10 them">
                     <select name="modules" onchange="checkFeatured(event)" class="form-control">
                        <option value="featured"{% if (modules == 'featured') %} {{ ' selected="selected"' }} {% endif %}>{{ text_featured }}</option>
                        <option value="bestseller"{% if (modules == 'bestseller') %} {{ ' selected="selected"' }} {% endif %}>{{ text_bestseller }}</option>
                        <option value="special"{% if (modules == 'special') %} {{ ' selected="selected"' }} {% endif %}>{{ text_special }}</option>
                        <option value="latest"{% if (modules == 'latest') %} {{ ' selected="selected"' }} {% endif %}>{{ text_latest }}</option>
                        <option value="viewed"{% if (modules == 'viewed') %} {{ ' selected="selected"' }} {% endif %}>{{ text_viewed }}</option>
                        <option value="mostviewed"{% if (modules == 'mostviewed') %} {{ ' selected="selected"' }} {% endif %}>{{ text_mostviewed }}</option>
                        <option value="mostreviewed"{% if (modules == 'mostreviewed') %} {{ ' selected="selected"' }} {% endif %}>{{ text_mostreviewed }}</option>
                     </select>
                  </div>
               </div>
               <div id="featured">
                  <div class="form-group">
                     <label class="col-sm-2 control-label" for="input-product">{{ entry_product }}</label>
                     <div class="col-sm-10 them">
                        <input type="text" name="product" value="" placeholder="{{ entry_product }}" id="input-product" class="form-control" />
                        <div id="featured-product" class="well well-sm" style="height: 150px; overflow: auto;">
                           {% for product in products %} 
                           <div id="featured-product{{ product['product_id'] }}"><i class="fa fa-minus-circle"></i> {{ product['name'] }} 
                              <input type="hidden" name="product[]" value="{{ product['product_id'] }}" />
                           </div>
                           {% endfor %} 
                        </div>
                     </div>
                  </div>
               </div>
			     <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-colleft">{{ entry_colleft }}</label>
                  <div class="col-sm-10 them">
                     <label class="radio-inline">
                     {% if (colleft) %} 
                     <input class="options_none" type="radio" name="colleft" value="1" checked="checked" />
                     <span class="im_option">{{ text_yes }}</span>
                     {% else %} 
                     <input class="options_none" type="radio" name="colleft" value="1" />
                     <span class="im_option">{{ text_yes }}</span>
                     {% endif %} 
                     </label>
                     <label class="radio-inline">
                     {% if (not colleft) %} 
                     <input class="options_none" type="radio" name="colleft" value="0" checked="checked" />
                     <span class="im_option">{{ text_no }}</span>
                     {% else %} 
                     <input class="options_none" type="radio" name="colleft" value="0" />
                     <span class="im_option">{{ text_no }}</span>
                     {% endif %} 
                     </label>
                </div>
               </div>
			   	<div class="form-group">
                  <label class="col-sm-2 control-label" for="input-list">{{ entry_list }}</label>
                  <div class="col-sm-10 them">
                     <label class="radio-inline">
                     {% if (list) %} 
                     <input class="options_none" type="radio" name="list" value="1" checked="checked" />
                     <span class="im_option">{{ text_yes }}</span>
                     {% else %} 
                     <input class="options_none" type="radio" name="list" value="1" />
                     <span class="im_option">{{ text_yes }}</span>
                     {% endif %} 
                     </label>
                     <label class="radio-inline">
                     {% if (not list) %} 
                     <input class="options_none" type="radio" name="list" value="0" checked="checked" />
                     <span class="im_option">{{ text_no }}</span>
                     {% else %} 
                     <input class="options_none" type="radio" name="list" value="0" />
                     <span class="im_option">{{ text_no }}</span>
                     {% endif %} 
                     </label>
                </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-limit">{{ entry_limit }}</label>
                  <div class="col-sm-10 them">
                     <input type="text" name="limit" value="{{ limit }}" id="input-limit" class="form-control" />
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-width">{{ entry_width }}</label>
                  <div class="col-sm-10 them">
                     <input type="text" name="width" value="{{ width }}" id="input-width" class="form-control" />
                     {% if (error_width) %} 
                     <div class="text-danger">{{ error_width }}</div>
                     {% endif %} 
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-height">{{ entry_height }}</label>
                  <div class="col-sm-10 them">
                     <input type="text" name="height" value="{{ height }}" id="input-height" class="form-control" />
                     {% if (error_height) %} 
                     <div class="text-danger">{{ error_height }}</div>
                     {% endif %} 
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-rat">{{ entry_rat }}</label>
                  <div class="col-sm-10 them">
                     <label class="radio-inline">
                     {% if (rat) %} 
                     <input class="options_none" type="radio" name="rat" value="1" checked="checked" />
                     <span class="im_option">{{ text_yes }}</span>
                     {% else %} 
                     <input class="options_none" type="radio" name="rat" value="1" />
                     <span class="im_option">{{ text_yes }}</span>
                     {% endif %} 
                     </label>
                     <label class="radio-inline">
                     {% if (not rat) %} 
                     <input class="options_none" type="radio" name="rat" value="0" checked="checked" />
                     <span class="im_option">{{ text_no }}</span>
                     {% else %} 
                     <input class="options_none" type="radio" name="rat" value="0" />
                     <span class="im_option">{{ text_no }}</span>
                     {% endif %} 
                     </label>
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-wish">{{ entry_wish }}</label>
                  <div class="col-sm-10 them">
                     <label class="radio-inline">
                     {% if (wish) %} 
                     <input class="options_none" type="radio" name="wish" value="1" checked="checked" />
                     <span class="im_option">{{ text_yes }}</span>
                     {% else %} 
                     <input class="options_none" type="radio" name="wish" value="1" />
                     <span class="im_option">{{ text_yes }}</span>
                     {% endif %} 
                     </label>
                     <label class="radio-inline">
                     {% if (not wish) %} 
                     <input class="options_none" type="radio" name="wish" value="0" checked="checked" />
                     <span class="im_option">{{ text_no }}</span>
                     {% else %} 
                     <input class="options_none" type="radio" name="wish" value="0" />
                     <span class="im_option">{{ text_no }}</span>
                     {% endif %} 
                     </label>
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-comp">{{ entry_comp }}</label>
                  <div class="col-sm-10 them">
                     <label class="radio-inline">
                     {% if (comp) %} 
                     <input class="options_none" type="radio" name="comp" value="1" checked="checked" />
                     <span class="im_option">{{ text_yes }}</span>
                     {% else %} 
                     <input class="options_none" type="radio" name="comp" value="1" />
                     <span class="im_option">{{ text_yes }}</span>
                     {% endif %} 
                     </label>
                     <label class="radio-inline">
                     {% if (not comp) %} 
                     <input class="options_none" type="radio" name="comp" value="0" checked="checked" />
                     <span class="im_option">{{ text_no }}</span>
                     {% else %} 
                     <input class="options_none" type="radio" name="comp" value="0" />
                     <span class="im_option">{{ text_no }}</span>
                     {% endif %} 
                     </label>
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-quickview">{{ entry_quickview }}</label>
                  <div class="col-sm-10 them">
                     <label class="radio-inline">
                     {% if (quickview) %} 
                     <input class="options_none" type="radio" name="quickview" value="1" checked="checked" />
                     <span class="im_option">{{ text_yes }}</span>
                     {% else %} 
                     <input class="options_none" type="radio" name="quickview" value="1" />
                     <span class="im_option">{{ text_yes }}</span>
                     {% endif %} 
                     </label>
                     <label class="radio-inline">
                     {% if (not quickview) %} 
                     <input class="options_none" type="radio" name="quickview" value="0" checked="checked" />
                     <span class="im_option">{{ text_no }}</span>
                     {% else %} 
                     <input class="options_none" type="radio" name="quickview" value="0" />
                     <span class="im_option">{{ text_no }}</span>
                     {% endif %} 
                     </label>
                  </div>
               </div>
               <legend>{{ text_carusel }}</legend>
               <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-pagination">{{ entry_carusel }}</label>
                  <div class="col-sm-10 them">
                     <label class="radio-inline">
                     {% if (carusel) %} 
                     <input class="options_none" type="radio" name="carusel" value="1" checked="checked" />
                     <span class="im_option">{{ text_yes }}</span>
                     {% else %} 
                     <input class="options_none" type="radio" name="carusel" value="1" />
                     <span class="im_option">{{ text_yes }}</span>
                     {% endif %} 
                     </label>
                     <label class="radio-inline">
                     {% if (not carusel) %} 
                     <input class="options_none" type="radio" name="carusel" value="0" checked="checked" />
                     <span class="im_option">{{ text_no }}</span>
                     {% else %} 
                     <input class="options_none" type="radio" name="carusel" value="0" />
                     <span class="im_option">{{ text_no }}</span>
                     {% endif %} 
                     </label>
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-navigation">{{ entry_navigation }}</label>
                  <div class="col-sm-10 them">
                     <label class="radio-inline">
                     {% if (navigation) %} 
                     <input class="options_none" type="radio" name="navigation" value="1" checked="checked" />
                     <span class="im_option">{{ text_yes }}</span>
                     {% else %} 
                     <input class="options_none" type="radio" name="navigation" value="1" />
                     <span class="im_option">{{ text_yes }}</span>
                     {% endif %} 
                     </label>
                     <label class="radio-inline">
                     {% if (not navigation) %} 
                     <input class="options_none" type="radio" name="navigation" value="0" checked="checked" />
                     <span class="im_option">{{ text_no }}</span>
                     {% else %} 
                     <input class="options_none" type="radio" name="navigation" value="0" />
                     <span class="im_option">{{ text_no }}</span>
                     {% endif %} 
                     </label>
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-autoplay_on">{{ entry_autoplay_on }}</label>
                  <div class="col-sm-10 them">
                     <label class="radio-inline">
                     {% if (autoplay_on) %} 
                     <input class="options_none" type="radio" name="autoplay_on" value="1" checked="checked" />
                     <span class="im_option">{{ text_yes }}</span>
                     {% else %} 
                     <input class="options_none" type="radio" name="autoplay_on" value="1" />
                     <span class="im_option">{{ text_yes }}</span>
                     {% endif %} 
                     </label>
                     <label class="radio-inline">
                     {% if (not autoplay_on) %} 
                     <input class="options_none" type="radio" name="autoplay_on" value="0" checked="checked" />
                     <span class="im_option">{{ text_no }}</span>
                     {% else %} 
                     <input class="options_none" type="radio" name="autoplay_on" value="0" />
                     <span class="im_option">{{ text_no }}</span>
                     {% endif %} 
                     </label>
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-autoplay">{{ entry_autoplay }}</label>
                  <div class="col-sm-10 them">
                     <input type="text" name="autoplay" value="{{ autoplay }}" id="input-autoplay" class="form-control" />
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-items">{{ entry_items }}</label>
                  <div class="col-sm-10 them">
                     <input type="text" name="items" value="{{ items }}" id="input-items" class="form-control" />
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-rew_speed">{{ entry_rew_speed }}</label>
                  <div class="col-sm-10 them">
                     <input type="text" name="rew_speed" value="{{ rew_speed }}" id="input-rew_speed" class="form-control" />
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-stophover">{{ entry_stophover }}</label>
                  <div class="col-sm-10 them">
                     <label class="radio-inline">
                     {% if (stophover) %} 
                     <input class="options_none" type="radio" name="stophover" value="1" checked="checked" />
                     <span class="im_option">{{ text_yes }}</span>
                     {% else %} 
                     <input class="options_none" type="radio" name="stophover" value="1" />
                     <span class="im_option">{{ text_yes }}</span>
                     {% endif %} 
                     </label>
                     <label class="radio-inline">
                     {% if (not stophover) %} 
                     <input class="options_none" type="radio" name="stophover" value="0" checked="checked" />
                     <span class="im_option">{{ text_no }}</span>
                     {% else %} 
                     <input class="options_none" type="radio" name="stophover" value="0" />
                     <span class="im_option">{{ text_no }}</span>
                     {% endif %} 
                     </label>
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                  <div class="col-sm-10 them">
                     <select name="status" id="input-status" class="form-control">
                        {% if (status) %} 
                        <option value="1" selected="selected">{{ text_enabled }}</option>
                        <option value="0">{{ text_disabled }}</option>
                        {% else %} 
                        <option value="1">{{ text_enabled }}</option>
                        <option value="0" selected="selected">{{ text_disabled }}</option>
                        {% endif %} 
                     </select>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
<script>
   $('input[name=\'product\']').autocomplete({
   source: function(request, response) {
   $.ajax({
   url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
   dataType: 'json',
   success: function(json) {
   response($.map(json, function(item) {
   return {
   label: item['name'],
   value: item['product_id']
   }
   }));
   }
   });
   },
   select: function(item) {
   $('input[name=\'product\']').val('');
   $('#featured-product' + item['value']).remove();
   $('#featured-product').append('<div id="featured-product' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="product[]" value="' + item['value'] + '" /></div>');
   }
   });
   $('#featured-product').delegate('.fa-minus-circle', 'click', function() {
   $(this).parent().remove();
   });
</script>
<script>
   function apply() {
   $('#form-products').append('<input type="hidden" id="apply" name="apply" value="1" />');
   $('#form-products').submit();
   }
</script>
<script>
   function checkFeatured(evt) {
   if (evt.target.value == 'featured') {
   $("#featured").show();
   } else {
   $("#featured").hide();
   }
   }
</script>
<style>
   .im_option {
   color: #777;
   background: #fff;
   padding: 3px 16px;
   border: 1px solid #9eaaac;
   border-radius: 50px;
   font-size: 13px;
   display: block;
   border-radius: 50px;
   }
   .options_none {
   display: none;
   }
   input:checked + .im_option{
   border: 1px solid #0989D2;
   border-radius: 50px;
   background: #0989D2;
   color: #fff;
   }
   .them .radio-inline {
   padding-left: 0;
   }
</style>
{{ footer }} 
