{{ header }}{{ column_left }} 
<div id="content">
   <div class="page-header">
      <div class="container-fluid">
         <div class="pull-right">
            <button type="submit" form="form-aridius_slider_plus" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;&nbsp;{{ button_save }}</button>
            <a onclick="apply();" class="btn btn-primary" data-toggle="tooltip" title="{{ button_apply }}" ><i class="fa fa-check"></i>&nbsp;&nbsp;{{ button_apply }}</a>
            <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
         </div>
         <h1>{{ heading_title }}</h1>
         <ul class="breadcrumb">
            {% for breadcrumb in breadcrumbs %} 
            <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
            {% endfor %} 
         </ul>
      </div>
   </div>
   <div class="container-fluid">
      {% if (error_warning) %} 
      <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }} 
         <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
      {% endif %} 
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
         </div>
         <div class="panel-body">
            <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-aridius_slider_plus" class="form-horizontal">
<div class="form-group">
<label class="col-sm-2 control-label" for="input-name">{{ text_nameb }}</label>
<div class="col-sm-10 them">
<input type="text" name="name" value="{{ name }}" id="input-name" class="form-control" />
{% if (error_name) %} 
	<div class="text-danger">{{ error_name }}</div>
	{% endif %} 
</div>
</div>
               <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-width">{{ text_width }}</label>
                  <div class="col-sm-10 them">
                     <input type="text" name="width" value="{{ width }}" id="input-width" class="form-control" />
                     {% if (error_width) %} 
                     <div class="text-danger">{{ error_width }}</div>
                     {% endif %} 
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-height">{{ text_height }}</label>
                  <div class="col-sm-10 them">
                     <input type="text" name="height" value="{{ height }}" id="input-height" class="form-control" />
                     {% if (error_height) %} 
                     <div class="text-danger">{{ error_height }}</div>
                     {% endif %} 
                  </div>
               </div>		
					<div class="form-group">
					<label class="col-sm-2 control-label" >{{ text_transition }}</label>
					<div class="col-sm-10 them">
					<select name="transitionStyle" class="form-control">
									<option value="0"{% if (transitionStyle == 0) %} {{ ' selected="selected"' }} {% endif %}>standart</option>
									<option value="1"{% if (transitionStyle == 1) %} {{ ' selected="selected"' }} {% endif %}>fade</option>
									<option value="2"{% if (transitionStyle == 2) %} {{ ' selected="selected"' }} {% endif %}>coverflow</option>
									<option value="3"{% if (transitionStyle == 3) %} {{ ' selected="selected"' }} {% endif %}>cube</option>
				    </select>
				    </div>
                    </div>
			  <div class="row">
                  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                     <ul class="nav nav-pills nav-stacked" id="slider_link">
                        {% set slider_row = 1 %} 
                        {% for slider_link in slider_links %} 
                        <li><a href="#tab-slider_link-{{ slider_row }}" data-toggle="tab"><i class="fa fa-minus-circle" onclick="$('a[href=\'#tab-slider_link-{{ slider_row }}\']').parent().remove(); $('#tab-slider_link-{{ slider_row }}').remove(); $('#slider_link a:first').tab('show');"></i> {{ tab_top_link ~ ' ' ~ slider_row }}</a></li>
                        {% set slider_row = slider_row + 1 %} 
                        {% endfor %} 
                        <li id="slider_link-add"><a onclick="addtop_link9();"><i class="fa fa-plus-circle"></i> {{ text_add_top_link }}</a></li>
                     </ul>
                  </div>
                  <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
                     <div class="tab-content first9">
                        {% set slider_row = 1 %} 
                        {% for slider_link in slider_links %} 
                        <div class="tab-pane" id="tab-slider_link-{{ slider_row }}">
                           <div class="tab-content">
						   <div class="form-group">
                                 <label class="col-sm-3 control-label" for="input-faicons_icons">{{ text_sort }}</label>
                                 <div class="col-lg-9">
                                  <input type="text" name="aridius_slider_plus_top_links[{{ slider_row }}][sort_order]" class="form-control input-lg" value="{{ slider_link.sort_order ? slider_link.sort_order : '' }}"/>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="col-sm-3 control-label" >{{ text_name }}</label>
                                 <div class="col-sm-9">
                                    {% for language in languages %} 
                                    <div class="input-group">
                                       <span class="input-group-addon"><img src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}" /></span>
                                       <input type="text" class="form-control" name="aridius_slider_plus_top_links[{{ slider_row }}][name][{{ language['language_id'] }}]" value="{{ slider_link['name'][language['language_id']] is defined ? slider_link['name'][language['language_id']] : '' }}" size="70" />
                                    </div>
                                    {% endfor %} 
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="col-lg-3 col-md-4 col-sm-6 col-xs-12 control-label" for="input-block_img{{ slider_row }}">{{ text_img }}</label>
                                 <div class="col-lg-9 col-md-8 col-sm-6 col-xs-12">
                                    <a href="" id="thumb-block_img{{ slider_row }}" data-toggle="image" class="img-thumbnail"><img src="{{ slider_link['image_href'] }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
                                    <input type="hidden" name="aridius_slider_plus_top_links[{{ slider_row }}][image]" value="{{ slider_link['image'] }}" id="input-block_img{{ slider_row }}" />
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="col-lg-3 col-md-4 col-sm-6 col-xs-12 control-label" >{{ text_description }}</label>
                                 <div class="col-lg-9 col-md-8 col-sm-6 col-xs-12">
                                    {% for language in languages %} 
                                    <div class="input-group">
                                       <span class="input-group-addon"><img src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}" /></span>
                                       <textarea data-toggle="summernote" data-lang="{{ summernote }}" class="form-control custom-control summernote" cols="3" name="aridius_slider_plus_top_links[{{ slider_row }}][description][{{ language['language_id'] }}]" id="description_info-{{ slider_row }}-{{ language['language_id'] }}">{{ slider_link['description'][language['language_id']] is defined ? slider_link['description'][language['language_id']] : '' }}     </textarea>
                                    </div>
                                    {% endfor %} 
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="col-sm-3 control-label" >{{ text_price }}</label>
                                 <div class="col-sm-9">
                                    {% for language in languages %} 
                                    <div class="input-group">
                                       <span class="input-group-addon"><img src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}" /></span>
                                       <input type="text" class="form-control" name="aridius_slider_plus_top_links[{{ slider_row }}][price][{{ language['language_id'] }}]" value="{{ slider_link['price'][language['language_id']] is defined ? slider_link['price'][language['language_id']] : '' }}" size="70" />
                                    </div>
                                    {% endfor %} 
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="col-sm-3 control-label" >{{ text_link }}</label>
                                 <div class="col-sm-9">
                                    {% for language in languages %} 
                                    <div class="input-group">
                                       <span class="input-group-addon"><img src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}" /></span>
                                       <input type="text" class="form-control" name="aridius_slider_plus_top_links[{{ slider_row }}][link][{{ language['language_id'] }}]" value="{{ slider_link['link'][language['language_id']] is defined ? slider_link['link'][language['language_id']] : '' }}" size="70" />
                                    </div>
                                    {% endfor %} 
                                 </div>
                              </div>
	                              <div class="form-group">
                                 <label class="col-sm-3 control-label" >{{ text_btn }}</label>
                                 <div class="col-sm-9">
                                    {% for language in languages %} 
                                    <div class="input-group">
                                       <span class="input-group-addon"><img src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}" /></span>
                                       <input type="text" class="form-control" name="aridius_slider_plus_top_links[{{ slider_row }}][btn][{{ language['language_id'] }}]" value="{{ slider_link['btn'][language['language_id']] is defined ? slider_link['btn'][language['language_id']] : '' }}" size="70" />
                                    </div>
                                    {% endfor %} 
                                 </div>
                              </div>						  
                              <div class="form-group">
                                 <label class="col-sm-3 control-label" for="input-faicons_icons">{{ text_background }}</label>
                                 <div class="col-sm-9">
                                    <textarea name="aridius_slider_plus_top_links[{{ slider_row }}][background]" rows="2" placeholder="" id="input-aridius_slider_plus_top_links[{{ slider_row }}][background]" class="form-control">{{ slider_link['background'] is defined ? slider_link['background'] : '' }}</textarea>
                                 </div>
                              </div>
							  <div class="form-group">  
						   <label class="col-sm-3 control-label" for="input-faicons_icons">{{ text_color_name }}</label>
                           <div class="col-lg-8">
                              <div class="cookie_ch_color input-group colorpicker-component" title="color">
                                 <input type="text" name="aridius_slider_plus_top_links[{{ slider_row }}][color_name]" class="form-control input-lg" value="{{ slider_link['color_name'] is defined ? slider_link['color_name'] : '' }}"/>
                                 <span class="input-group-addon"><i></i></span>
                              </div>
                           </div>					  
							  </div>
							  <div class="form-group">  
						   <label class="col-sm-3 control-label" for="input-faicons_icons">{{ text_color_price }}</label>
                           <div class="col-lg-8">
                              <div class="cookie_ch_color input-group colorpicker-component" title="color">
                                 <input type="text" name="aridius_slider_plus_top_links[{{ slider_row }}][color_price]" class="form-control input-lg" value="{{ slider_link['color_price'] is defined ? slider_link['color_price'] : '' }}"/>
                                 <span class="input-group-addon"><i></i></span>
                              </div>
                           </div>					  
							  </div>							  
							  <div class="form-group">  
						   <label class="col-sm-3 control-label" for="input-faicons_icons">{{ text_color_btn_b }}</label>
                           <div class="col-lg-8">
                              <div class="cookie_ch_color input-group colorpicker-component" title="color">
                                 <input type="text" name="aridius_slider_plus_top_links[{{ slider_row }}][color_btn_b]" class="form-control input-lg" value="{{ slider_link['color_btn_b'] is defined ? slider_link['color_btn_b'] : '' }}"/>
                                 <span class="input-group-addon"><i></i></span>
                              </div>
                           </div>					  
							  </div>							  
										  <div class="form-group">  
						   <label class="col-sm-3 control-label" for="input-faicons_icons">{{ text_color_btn_c }}</label>
                           <div class="col-lg-8">
                              <div class="cookie_ch_color input-group colorpicker-component" title="color">
                                 <input type="text" name="aridius_slider_plus_top_links[{{ slider_row }}][color_btn_c]" class="form-control input-lg" value="{{ slider_link['color_btn_c'] is defined ? slider_link['color_btn_c'] : '' }}"/>
                                 <span class="input-group-addon"><i></i></span>
                              </div>
                           </div>					  
							  </div>					  
											  <div class="form-group">  
						   <label class="col-sm-3 control-label" for="input-faicons_icons">{{ text_color_btn_bh }}</label>
                           <div class="col-lg-8">
                              <div class="cookie_ch_color input-group colorpicker-component" title="color">
                                 <input type="text" name="aridius_slider_plus_top_links[{{ slider_row }}][color_btn_bh]" class="form-control input-lg" value="{{ slider_link['color_btn_bh'] is defined ? slider_link['color_btn_bh'] : '' }}"/>
                                 <span class="input-group-addon"><i></i></span>
                              </div>
                           </div>					  
							  </div>							  
											  <div class="form-group">  
						   <label class="col-sm-3 control-label" for="input-faicons_icons">{{ text_color_btn_ch }}</label>
                           <div class="col-lg-8">
                              <div class="cookie_ch_color input-group colorpicker-component" title="color">
                                 <input type="text" name="aridius_slider_plus_top_links[{{ slider_row }}][color_btn_ch]" class="form-control input-lg" value="{{ slider_link['color_btn_ch'] is defined ? slider_link['color_btn_ch'] : '' }}"/>
                                 <span class="input-group-addon"><i></i></span>
                              </div>
                           </div>					  
							  </div>							  
                           </div>
                           {% set slider_row = slider_row + 1 %} 
                        </div>
                        {% endfor %} 
                     </div>
                  </div>
               </div>
	<script src="view/javascript/colorpicker/dist/js/bootstrap-colorpicker.js" type="text/javascript"></script>
<link href="view/javascript/colorpicker/dist/css/bootstrap-colorpicker.css" rel="stylesheet">		   
	 <script>	 
	$(function () {
$('.cookie_ch_color').colorpicker();
});		   
      </script>			   
               	 <script>
                  $('#slider_link li:first-child a').tab('show');
                  //-->
               </script>
               <!-- add block product -->
               <script type="text/javascript"><!--
                  var slider_row = {{ slider_row }};
                  function addtop_link9() {
                  group_row = 0;
                  html  = '<div class="tab-pane" id="tab-slider_link-' + slider_row + '">';
                  html += '<div class="tab-content">';
				  html += '<div class="form-group">';
                  html += '<label class="col-sm-3 control-label" >{{ text_sort }}</label>';
                  html += '<div class="col-sm-9">';
                  html += '<input type="text" name="aridius_slider_plus_top_links[' + slider_row + '][sort_order]" class="form-control input-lg" />';
                  html += '</div>';
                  html += '</div>'; 
                  html += '<div class="form-group">';
                  html += '<label class="col-sm-3 control-label" >{{ text_name }}</label>';
                  html += '<div class="col-sm-9">';
                  {% for language in languages %} 
                  html += '<div class="input-group">';
                  html += '<span class="input-group-addon"><img src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}" /></span>';
                  html += '<input type="text" class="form-control" name="aridius_slider_plus_top_links[' + slider_row + '][name][{{ language['language_id'] }}]" size="70" />';
                  html += '</div>';
                  {% endfor %} 
                  html += '</div>';
                  html += '</div>';
                  html += '<div class="form-group">';
                  html += '<label class="col-lg-3 col-md-4 col-sm-6 col-xs-12 control-label" for="input-block_img' + slider_row + '">{{ text_img }}</label>';
                  html += '<div class="col-lg-9 col-md-8 col-sm-6 col-xs-12"><a href="" id="thumb-block_img' + slider_row + '" data-toggle="image" class="img-thumbnail"><img src="{{ placeholder }}" alt="" title="" /></a>';
                  html += '<input type="hidden" name="aridius_slider_plus_top_links[' + slider_row + '][image]" value="" id="input-block_img' + slider_row + '" />';
                  html += '</div>';
                  html += '</div>';
                  html += '<div class="form-group">';
                  html += '<label class="col-lg-3 col-md-4 col-sm-6 col-xs-12 control-label" >{{ text_description }}</label>';
                  html += '<div class="col-lg-9 col-md-8 col-sm-6 col-xs-12">';
                  {% for language in languages %} 
                  html += '<div class="input-group">';
                  html += '<span class="input-group-addon"><img src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}" /></span>';
                  html += '<textarea name="aridius_slider_plus_top_links[' + slider_row + '][description][{{ language['language_id'] }}]" id="description_info-' + slider_row + '-{{ language['language_id'] }}" class="summernote-' + slider_row + ' form-control"></textarea>';
                  html += '</div>';
                  {% endfor %} 
                  html += '</div>';
                  html += '</div>';
                  html += '<div class="form-group">';
                  html += '<label class="col-sm-3 control-label" >{{ text_price }}</label>';
                  html += '<div class="col-sm-9">';
                  {% for language in languages %} 
                  html += '<div class="input-group">';
                  html += '<span class="input-group-addon"><img src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}" /></span>';
                  html += '<input type="text" class="form-control" name="aridius_slider_plus_top_links[' + slider_row + '][price][{{ language['language_id'] }}]" size="70" />';
                  html += '</div>';
                  {% endfor %} 
                  html += '</div>';
                  html += '</div>';
				                    html += '<div class="form-group">';
                  html += '<label class="col-sm-3 control-label" >{{ text_link }}</label>';
                  html += '<div class="col-sm-9">';
                  {% for language in languages %} 
                  html += '<div class="input-group">';
                  html += '<span class="input-group-addon"><img src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}" /></span>';
                  html += '<input type="text" class="form-control" name="aridius_slider_plus_top_links[' + slider_row + '][link][{{ language['language_id'] }}]" size="70" />';
                  html += '</div>';
                  {% endfor %} 
                  html += '</div>';
                  html += '</div>';
				 html += '<div class="form-group">';
                  html += '<label class="col-sm-3 control-label" >{{ text_btn }}</label>';
                  html += '<div class="col-sm-9">';
                  {% for language in languages %} 
                  html += '<div class="input-group">';
                  html += '<span class="input-group-addon"><img src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}" /></span>';
                  html += '<input type="text" class="form-control" name="aridius_slider_plus_top_links[' + slider_row + '][btn][{{ language['language_id'] }}]" size="70" />';
                  html += '</div>';
                  {% endfor %} 
                  html += '</div>';
                  html += '</div>';
                  html += '<div class="form-group">';
                  html += '<label class="col-sm-3 control-label" >{{ text_background }}</label>';
                  html += '<div class="col-sm-9">';
                  html += '<textarea name="aridius_slider_plus_top_links[' + slider_row + '][background]" id="background-' + slider_row + '" class="form-control"></textarea>';
                  html += '</div>';
                  html += '</div>';
	              html += '<div class="form-group">';
                  html += '<label class="col-sm-3 control-label" >{{ text_color_name }}</label>';
                  html += '<div class="col-sm-9">';
				  html += '<div class="cookie_ch_color input-group colorpicker-component" title="color">';
                  html += '<input type="text" name="aridius_slider_plus_top_links[' + slider_row + '][color_name]" class="form-control input-lg" />';
				  html += '<span class="input-group-addon"><i></i></span>';
                  html += '</div>';
                  html += '</div>';			  
				  html += '</div>';	
	              html += '<div class="form-group">';
                  html += '<label class="col-sm-3 control-label" >{{ text_color_price }}</label>';
                  html += '<div class="col-sm-9">';
				  html += '<div class="cookie_ch_color input-group colorpicker-component" title="color">';
                  html += '<input type="text" name="aridius_slider_plus_top_links[' + slider_row + '][color_price]" class="form-control input-lg" />';
				  html += '<span class="input-group-addon"><i></i></span>';
                  html += '</div>';
                  html += '</div>';			  
				  html += '</div>';					  
	              html += '<div class="form-group">';
                  html += '<label class="col-sm-3 control-label" >{{ text_color_btn_b }}</label>';
                  html += '<div class="col-sm-9">';
				  html += '<div class="cookie_ch_color input-group colorpicker-component" title="color">';
                  html += '<input type="text" name="aridius_slider_plus_top_links[' + slider_row + '][color_btn_b]" class="form-control input-lg" />';
				  html += '<span class="input-group-addon"><i></i></span>';
                  html += '</div>';
                  html += '</div>';			  
				  html += '</div>';					  
	              html += '<div class="form-group">';
                  html += '<label class="col-sm-3 control-label" >{{ text_color_btn_c }}</label>';
                  html += '<div class="col-sm-9">';
				  html += '<div class="cookie_ch_color input-group colorpicker-component" title="color">';
                  html += '<input type="text" name="aridius_slider_plus_top_links[' + slider_row + '][color_btn_c]" class="form-control input-lg" />';
				  html += '<span class="input-group-addon"><i></i></span>';
                  html += '</div>';
                  html += '</div>';			  
				  html += '</div>';						  
	              html += '<div class="form-group">';
                  html += '<label class="col-sm-3 control-label" >{{ text_color_btn_bh }}</label>';
                  html += '<div class="col-sm-9">';
				  html += '<div class="cookie_ch_color input-group colorpicker-component" title="color">';
                  html += '<input type="text" name="aridius_slider_plus_top_links[' + slider_row + '][color_btn_bh]" class="form-control input-lg" />';
				  html += '<span class="input-group-addon"><i></i></span>';
                  html += '</div>';
                  html += '</div>';			  
				  html += '</div>';					  
	              html += '<div class="form-group">';
                  html += '<label class="col-sm-3 control-label" >{{ text_color_btn_ch }}</label>';
                  html += '<div class="col-sm-9">';
				  html += '<div class="cookie_ch_color input-group colorpicker-component" title="color">';
                  html += '<input type="text" name="aridius_slider_plus_top_links[' + slider_row + '][color_btn_ch]" class="form-control input-lg" />';
				  html += '<span class="input-group-addon"><i></i></span>';
                  html += '</div>';
                  html += '</div>';			  
				  html += '</div>';					  
                  html += '</div>';
                  html += '</div>';
                  $('.tab-content.first9').append(html);
                  $('#slider_link-add').before('<li><a href="#tab-slider_link-' + slider_row + '" data-toggle="tab"><i class="fa fa-minus-circle" onclick="$(\'a[href=\\\'#tab-slider_link-' + slider_row + '\\\']\').parent().remove(); $(\'#tab-slider_link-' + slider_row + '\').remove(); $(\'#slider_link a:first\').tab(\'show\');"></i> {{ tab_top_link }} ' + slider_row + '</a></li>');
                  $('.summernote-' + slider_row ).summernote({
                  height: 150,   //set editable area's height
                  });
                  $('#slider_link a[href=\'#tab-slider_link-' + slider_row + '\']').tab('show');
                  slider_row++;
				 $(function () {
$('.cookie_ch_color').colorpicker();
}); 
                  }
                  //-->
               </script>
<div class="form-group">
<label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
<div class="col-sm-10 them">
<select name="status" id="input-status" class="form-control">
{% if (status) %} 
	<option value="1" selected="selected">{{ text_enabled }}</option>
	<option value="0">{{ text_disabled }}</option>
	{% else %} 
	<option value="1">{{ text_enabled }}</option>
	<option value="0" selected="selected">{{ text_disabled }}</option>
	{% endif %} 
</select>
</div>
</div>			   
            </form>
         </div>
      </div>
   </div>
</div>
<script>
</script>
<script src="view/javascript/summernote/summernote.js"></script>
<link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
<script src="view/javascript/summernote/opencart.js"></script>
<script><!--
   $('#language a:first').tab('show');
   $('#option a:first').tab('show');
   //-->
</script>
<script><!--
   function apply() {
   $('#form-aridius_slider_plus').append('<input type="hidden" id="apply" name="apply" value="1" />');
   $('#form-aridius_slider_plus').submit();
   }
   //-->
</script>
{{ footer }} 