{{ header }}{{ column_left }} 
<div id="content">
   <div class="page-header">
      <div class="container-fluid">
         <div class="pull-right">
            <button type="submit" form="form-qckview" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;&nbsp;{{ button_save }}</button>
            <a onclick="apply();" class="btn btn-primary" data-toggle="tooltip" title="{{ button_apply }}" ><i class="fa fa-check"></i>&nbsp;&nbsp;{{ button_apply }}</a>
            <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
         </div>
         <h1>{{ heading_title }}</h1>
         <ul class="breadcrumb">
            {% for breadcrumb in breadcrumbs %} 
            <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
            {% endfor %} 
         </ul>
      </div>
   </div>
   <div class="container-fluid">
      {% if (error_warning) %} 
      <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }} 
         <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
      {% endif %} 
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_main_setting }}</h3>
         </div>
         <div class="panel-body">
            <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-qckview" class="form-horizontal">
               <div class="form-group">
                  <label class="col-sm-3 control-label" >{{ text_tab_description }}</label>
                  <div class="col-sm-9 them">
                     <label class="radio-inline">
                     {% if (module_aridius_qckview_tab_description) %} 
                     <input class="options_none" type="radio" name="module_aridius_qckview_tab_description" value="0" />
                     <span class="im_option">{{ text_yes }}</span>
                     {% else %} 
                     <input class="options_none" type="radio" name="module_aridius_qckview_tab_description" value="0" checked="checked" />
                     <span class="im_option">{{ text_yes }}</span>
                     {% endif %} 
                     </label>
                     <label class="radio-inline">
                     {% if (not module_aridius_qckview_tab_description) %} 
                     <input class="options_none" type="radio" name="module_aridius_qckview_tab_description" value="1" />
                     <span class="im_option">{{ text_no }}</span>
                     {% else %} 
                     <input class="options_none" type="radio" name="module_aridius_qckview_tab_description" value="1" checked="checked" />
                     <span class="im_option">{{ text_no }}</span>
                     {% endif %} 
                     </label>
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-3 control-label" >{{ text_tab_character }}</label>
                  <div class="col-sm-9 them">
                     <label class="radio-inline">
                     {% if (module_aridius_qckview_tab_character) %} 
                     <input class="options_none" type="radio" name="module_aridius_qckview_tab_character" value="0" />
                     <span class="im_option">{{ text_yes }}</span>
                     {% else %} 
                     <input class="options_none" type="radio" name="module_aridius_qckview_tab_character" value="0" checked="checked" />
                     <span class="im_option">{{ text_yes }}</span>
                     {% endif %} 
                     </label>
                     <label class="radio-inline">
                     {% if (not module_aridius_qckview_tab_character) %} 
                     <input class="options_none" type="radio" name="module_aridius_qckview_tab_character" value="1" />
                     <span class="im_option">{{ text_no }}</span>
                     {% else %} 
                     <input class="options_none" type="radio" name="module_aridius_qckview_tab_character" value="1" checked="checked" />
                     <span class="im_option">{{ text_no }}</span>
                     {% endif %} 
                     </label>
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-3 control-label" >{{ text_tab_reviews }}</label>
                  <div class="col-sm-9 them">
                     <label class="radio-inline">
                     {% if (module_aridius_qckview_tab_reviews) %} 
                     <input class="options_none" type="radio" name="module_aridius_qckview_tab_reviews" value="0" />
                     <span class="im_option">{{ text_yes }}</span>
                     {% else %} 
                     <input class="options_none" type="radio" name="module_aridius_qckview_tab_reviews" value="0" checked="checked" />
                     <span class="im_option">{{ text_yes }}</span>
                     {% endif %} 
                     </label>
                     <label class="radio-inline">
                     {% if (not module_aridius_qckview_tab_reviews) %} 
                     <input class="options_none" type="radio" name="module_aridius_qckview_tab_reviews" value="1" />
                     <span class="im_option">{{ text_no }}</span>
                     {% else %} 
                     <input class="options_none" type="radio" name="module_aridius_qckview_tab_reviews" value="1" checked="checked" />
                     <span class="im_option">{{ text_no }}</span>
                     {% endif %} 
                     </label>
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-3 control-label" >{{ text_tab_additional }}</label>
                  <div class="col-sm-9 them">
                     <label class="radio-inline">
                     {% if (module_aridius_qckview_tab_additional) %} 
                     <input class="options_none" type="radio" name="module_aridius_qckview_tab_additional" value="0" />
                     <span class="im_option">{{ text_yes }}</span>
                     {% else %} 
                     <input class="options_none" type="radio" name="module_aridius_qckview_tab_additional" value="0" checked="checked" />
                     <span class="im_option">{{ text_yes }}</span>
                     {% endif %} 
                     </label>
                     <label class="radio-inline">
                     {% if (not module_aridius_qckview_tab_additional) %} 
                     <input class="options_none" type="radio" name="module_aridius_qckview_tab_additional" value="1" />
                     <span class="im_option">{{ text_no }}</span>
                     {% else %} 
                     <input class="options_none" type="radio" name="module_aridius_qckview_tab_additional" value="1" checked="checked" />
                     <span class="im_option">{{ text_no }}</span>
                     {% endif %} 
                     </label>
                  </div>
               </div>






               <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                  <div class="col-sm-10 them">
                     <select name="module_aridius_qckview_status" id="input-status" class="form-control">
                        {% if (module_aridius_qckview_status) %} 
                        <option value="1" selected="selected">{{ text_enabled }}</option>
                        <option value="0">{{ text_disabled }}</option>
                        {% else %} 
                        <option value="1">{{ text_enabled }}</option>
                        <option value="0" selected="selected">{{ text_disabled }}</option>
                        {% endif %} 
                     </select>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
<script><!--
   function apply() {
   	$('#form-qckview').append('<input type="hidden" id="apply" name="apply" value="1" />');
   	$('#form-qckview').submit();
   }
   //-->
</script>
{{ footer }} 
