{{ header }} 
<div class="container">
<ul class="breadcrumb">
   {% for i,breadcrumb in breadcrumbs %}
   <li>{% if (breadcrumbs|length > i+1 ) %}<a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a>{% else %}{{ breadcrumb['text'] }}{% endif %}</li>
   {% endfor %}
</ul>
   {% if (success) %} 
   <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}</div>
   {% endif %} 
   <div class="row">
      {{ column_left }} 
      {% if (column_left and column_right) %} 
      {% set class = 'col-sm-6' %} 
      {% elseif (column_left or column_right) %} 
      {% set class = 'col-sm-9' %} 
      {% else %} 
      {% set class = 'col-sm-12' %} 
      {% endif %} 
      <div id="content" class="{{ class }}">
         {{ content_top }} 
         <div class="title-module">{{ text_my_account }}</div>
         <div class="row account_wall_flex ">
            <div class="accountv_rowm col-xs-6 col-sm-4 col-md-4 col-lg-3">
               <div class="accountv">
                  <a class="accountp" href="{{ edit }}"><i class="fa fa-pencil"></i> {{ text_edit }}</a>
               </div>
            </div>
            <div class="accountv_rowm col-xs-6 col-sm-4 col-md-4 col-lg-3">
               <div class="accountv">
                  <a class="accountp" href="{{ password }}"><i class="fa fa-key"></i> {{ text_password }}</a>
               </div>
            </div>
            <div class="accountv_rowm col-xs-6 col-sm-4 col-md-4 col-lg-3">
               <div class="accountv">
                  <a class="accountp" href="{{ address }}"><i class="fa fa-home"></i> {{ text_address }}</a>
               </div>
            </div>
            {% if (deluxe_wishlist_footer != 1) %} 
            <div class="accountv_rowm col-xs-6 col-sm-4 col-md-4 col-lg-3">
               <div class="accountv">
                  <a class="accountp" href="{{ wishlist }}"><i class="fa fa-heart"></i> {{ text_wishlist }}</a>
               </div>
            </div>
            {% endif %} 
         </div>
         <div class="clearfix"></div>
         {% if (credit_cards) %} 
         <div class="title-module">{{ text_credit_card }}</div>
         {% for credit_card in credit_cards %} 
         <div class="accountv_rowm col-xs-6 col-sm-4 col-md-4 col-lg-3">
            <div class="accountv">
               <a class="accountp" href="{{ credit_card['href'] }}">{{ credit_card['name'] }}</a>
            </div>
         </div>
         {% endfor %} 
         {% endif %} 
         <div class="title-module">{{ text_my_orders }}</div>
         <div class="row account_wall_flex  ">
            <div class="accountv_rowm col-xs-6 col-sm-4 col-md-4 col-lg-3">
               <div class="accountv">
                  <a class="accountp" href="{{ order }}"><i class="fa fa-file"></i> {{ text_order }}</a>
               </div>
            </div>
            {% if (deluxe_download_footer != 1) %} 
            <div class="accountv_rowm col-xs-6 col-sm-4 col-md-4 col-lg-3">
               <div class="accountv">
                  <a class="accountp" href="{{ download }}"><i class="fa fa-download"></i> {{ text_download }}</a>
               </div>
            </div>
            {% endif %} 
            {% if (reward) %} 
            <div class="accountv_rowm col-xs-6 col-sm-4 col-md-4 col-lg-3">
               <div class="accountv">
                  <a class="accountp" class="accountp" href="{{ reward }}"><i class="fa fa-diamond"></i> {{ text_reward }}</a>
               </div>
            </div>
            {% endif %} 
            {% if (deluxe_return_footer != 1) %} 
            <div class="accountv_rowm col-xs-6 col-sm-4 col-md-4 col-lg-3">
               <div class="accountv">
                  <a class="accountp" href="{{ return }}"><i class="fa fa-retweet"></i> {{ text_return }}</a>
               </div>
            </div>
            {% endif %} 
            <div class="accountv_rowm col-xs-6 col-sm-4 col-md-4 col-lg-3">
               <div class="accountv">
                  <a class="accountp" href="{{ transaction }}"><i class="fa fa-credit-card"></i> {{ text_transaction }}</a>
               </div>
            </div>
            <div class="accountv_rowm col-xs-6 col-sm-4 col-md-4 col-lg-3">
               <div class="accountv">
                  <a class="accountp" href="{{ recurring }}"><i class="fa fa-clock-o "></i> {{ text_recurring }}</a>
               </div>
            </div>
         </div>
         <div class="clearfix"></div>
         {% if (deluxe_newsletter_footer != 1) %} 
         <div class="title-module">{{ text_my_newsletter }}</div>
         <div class="row account_wall_flex  ">
            <div class="accountv_rowm col-xs-6 col-sm-4 col-md-4 col-lg-3">
               <div class="accountv">
                  <a class="accountp" href="{{ newsletter }}"><i class="fa fa-envelope"></i> {{ text_newsletter }}</a>
               </div>
            </div>
         </div>
         {% endif %} 
         {{ content_bottom }} 
      </div>
      {{ column_right }} 
   </div>
</div>
{{ footer }} 
